<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body {font-family: Arial, Helvetica, sans-serif; font-size:12px; text-align:center;}
a { text-decoration: none;}
#all {widht: 100%; text-align:center; margin:auto;}
#main {width: 96%; height: 600px; line-height: 1.8; margin:auto; border:1px #ccc dashed; text-align: center; text-indent: 2em;}
</style>
</head>

<body>
<div id="all">
	<div id="main">
		<div style='text-align center; height: 400px; padding-top: 200px;'><span style='font-size: 20px;'>欢迎使用站群后台管理系统</span></div>
		<div style='width: 1120px; margin-top: -350px;'><span style='font-size: 15px; margin-right: -40%;'>——强比科技</span></div>
		
    </div>
</div>
</body>
</html>
