首页变量设置：
<form method='POST' action='../../Admin/WebInfoAdmin/sub_index'>
标  &nbsp;题：<input type='text' name='title' value='{$index_info[0][title]}'/><br/>
关键字：<input type='text' name='keywords' value='{$index_info[0][keywords]}'/><br/>
描  &nbsp;述：<input type='text' name='description' value='{$index_info[0][description]}'/><br/>
注  &nbsp;释：<textarea rows='5' cols='60' name='index_annotate'>{$index_info[0][index_annotate]}</textarea>(代码中不要存在双引号，否则出错)<br/>
<input type='submit' value='确定'/>
</form>
