<form name='lian_xi' method='POST' action='../../Admin/WebInfoAdmin/lian_xi'>
标  &nbsp;题：<input type='text' name='title' value='{$lianxi_info[0][title]}'/><br/>
关键字：<input type='text' name='keywords' value='{$lianxi_info[0][keywords]}'/><br/>
描  &nbsp;述：<input type='text' name='description' value='{$lianxi_info[0][description]}'/><br/>
联系我们：<textarea cols="50" rows="10" name="connect_us">{$lianxi_info[0][connect_us]}</textarea>(代码中不要出现双引号，否则无效)<br/>
<input type='submit' value='确定'/>
</form>
