<a href="{:U('Admin/WebInfoAdmin/sub_index')}" target="sub_mian">首页</a>
<a href="{:U('Admin/WebInfoAdmin/cont')}" target="sub_mian">内容页</a>
<a href="{:U('Admin/WebInfoAdmin/sub_list')}" target="sub_mian">列表页</a>
<a href="{:U('Admin/WebInfoAdmin/jie_shao')}" target="sub_mian">产品介绍页</a>
<a href="{:U('Admin/WebInfoAdmin/you_shi')}" target="sub_mian">产品优势页</a>
<a href="{:U('Admin/WebInfoAdmin/jia_ge')}" target="sub_mian">产品价格页</a>
<a href="{:U('Admin/WebInfoAdmin/gou_mai')}" target="sub_mian">购买流程页</a>
<a href="{:U('Admin/WebInfoAdmin/fu_wu')}" target="sub_mian">客户服务页</a>
<a href="{:U('Admin/WebInfoAdmin/shi_yong')}" target="sub_mian">免费试用页</a>
<a href="{:U('Admin/WebInfoAdmin/lian_xi')}" target="sub_mian">联系我们页</a>
<a href="{:U('Admin/WebInfoAdmin/quan_ju')}" target="sub_mian">站群设置</a>
