<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body {font-family: Arial, Helvetica, sans-serif; font-size:12px; text-align:center;}
a { text-decoration: none;}
#all {widht: 100%; text-align:center; margin:auto;}
#main {width: 96%; line-height: 1.8; margin:auto; border:1px #ccc dashed; text-align: left; text-indent: 2em;}
</style>
</head>
<body>
<a href='../../Admin/TitleAdmin/update?tag=title' style='font-size: 30px; color: red;'>一键更新</a>
<div id="all">
		<div id="main">
				<table width="100%" border="0" cellpadding="2" cellspacing="0">
						<tr>
								<td width="100%">
										<form method='post' action='../../Admin/TitleAdmin/add_title'>
										标题名：<input type='text' name='title' />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<input type='submit' value='添加' />
										</form>
										<table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #b9d8f3;">
												<tr style="text-align: center; COLOR: #0076C8; BACKGROUND-COLOR: #F4FAFF; font-weight: bold">
														<td><font size="2">序号</font></td>
														<td><font size="2">标题</font></td>
														<td><font size="2">删除</font></td>
												</tr>
												<?php

														for($i=0; $i<count($title); $i++){
																$id = $i+1;
																echo	"<tr style='text-align: left; COLOR: #0076C8; BACKGROUND-COLOR: #F4FAFF;'>
																				<td><font size='2'>".$id."</font></td>
																				<td><font size='2'>".$title[$i][title]."</font></td>
																				<td><font size='2'><a href=\'../../index.php/Admin/TitleAdmin/delete_title?id=".$title[$i][id]." target='main'>删除</a></font></td>
																		</tr>";

														}
												?>
										</table>
								</td>
						</tr>
				</table>
		</div>
</div>
</body>
</html>
