<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><--my_title_1--></title>
        <meta http-equiv="keywords" content="<--my_keywords-->">
            <meta http-equiv="description" content="<--description-->">
                <link href="other/font.css" rel="stylesheet" type="text/css" />
                <style type="text/css">
                    .yqlj ul li img {
                        height: 44px;
                        width: 140px;
                    }
                </style>
                </head>

                <body>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td height="32" background="images/topbg.jpg"><table width="1011" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="583" height="27">&nbsp;</td>
                                        <td width="186"><a href="http://email.163.com/qiye/" target="_blank"><img src="images/qyyx.jpg" border="0"  /></a></td>
                                        <td width="242" class="fonthui">在线支付(担保交易零风险)   |   &nbsp;  <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODAzNDYxOF8xNjEzNjlfODAwMDE2MzE2M18yXw" target="_blank">用户疑问解答</a></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"  bgcolor="#FFFFFF">
                        <tr>
                            <td height="83"><table width="1011" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="816" height="42"><img src="images/logo.jpg" width="488" height="83" /></td>
                                        <td width="195"><img src="images/dh.jpg" width="195" height="60" /></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="39" background="images/meunx.jpg"><table width="990" border="0" align="center" cellpadding="0" cellspacing="0" class="font14hui">
                                    <tr>
                                        <td width="110" align="center" class="bkl"><a href='http://<--index_a_href-->'>首 页</a></td>
                                        <td width="110" align="center" class="bkl"><a href="yyjs.html">邮箱介绍</a></td>
                                        <td width="110" align="center" class="bkl"><a href="yyys.html">邮箱优势</a></td>
                                        <td width="110" align="center" class="bkl"><a href="ysjg.html">邮箱价格</a></td>
                                        <td width="110" align="center" class="bkl"><a href="gmlc.html">购买流程</a></td>
                                        <td width="110" align="center" class="bkl"><a href="khfw.html">客户服务</a></td>
                                        <td width="110" align="center" class="bkl"><a href="mfsy.html">免费试用</a></td>
                                        <td width="110" align="center" class="bkl"><a href="rjxz.html">软件下载</a></td>
                                        <td width="110" align="center"><a href="lxwm.html">联系我们</a></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="1011" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="62" align="center"><img src="images/flash0.jpg" width="1430" height="399" /></td>
                        </tr>
                    </table>
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"  class="bkend1">
                        <tr>
                            <td height="70" bgcolor="#FFFFFF"><table width="1011" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td height="59"><img src="images/zplogo.jpg" width="202" height="59" /></td>
                                        <td align="center"><img src="images/zplogo1.jpg" width="406" height="59" /></td>
                                        <td align="right"><img src="images/zplogo2.jpg" width="255" height="59" /></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="1011" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:15px">
                        <tr>
                            <td width="744" height="406" valign="top"><table width="734" border="0" cellpadding="0" cellspacing="0" class="bktu">
                                    <tr>
                                        <td width="54" height="32" valign="middle" background="images/yxjjbg.jpg">&nbsp;</td>
                                        <td width="678" valign="middle" background="images/yxjjbg.jpg" class="inlmzt"><font color="#d92406">网易企业邮箱简介</font></td>
                                    </tr>
                                    <tr>
                                        <td height="133" colspan="2" valign="top"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:8px">
                                                <tr>
                                                    <td width="21%" rowspan="2" align="center" valign="middle"><img src="images/wytb.jpg" width="134" height="81" /></td>
                                                    <td width="79%" height="38" align="center" class="inlmzt"><a href="#"><font color="#222222">网易企业邮箱是网易依托6亿邮箱用户</font></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="56" class="font14hui">经过300万企业邮箱用户中国最大的邮箱客户群服务经验研发、升级的企业邮局系统，无论是从市场占有率、服务器稳定性、用户口碑方面，都处于全国第一的绝对领先地位。</td>
                                                </tr>
                                            </table>
                                            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="1" class="fonthui" style="margin-bottom:8PX">
                                                <tr>
                                                    <td height="28" bgcolor="#f2f2f2"><span class="font14red">&nbsp;海外收发&nbsp; &nbsp; </span>全球230多个国家和地区均部署海外服务器，和亚马逊合作，业界首家。保证客户邮件收发全球无死角。</td>
                                                </tr>
                                                <tr>
                                                    <td height="28" bgcolor="#f2f2f2"><span class="font14red">&nbsp;个人网盘&nbsp; &nbsp; </span>为每个用户配备1G的个人网盘，可上传/复制/删除或转移文件，实现轻松 高效办公。</td>
                                                </tr>
                                                <tr>
                                                    <td height="28" bgcolor="#f2f2f2"><span class="font14red">&nbsp;多重备份&nbsp; &nbsp; </span>网易是国内唯一实现灾备级邮件备份的邮局提供商，确保邮件资料安全，丢失邮件一封网易官方补偿人民币1000元。</td>
                                                </tr>
                                                <tr>
                                                    <td height="28" bgcolor="#f2f2f2"><span class="font14red">&nbsp;邮件审核&nbsp; &nbsp; </span>网易针对一些特殊邮件设立了审核功能，对一些要求的邮件审核后发送，如合同、报价等等。</td>
                                                </tr>
                                            </table></td>
                                    </tr>
                                </table>
                                <!--<--annotate---->
                                <table width="734" border="0" cellspacing="0" cellpadding="0"  class="bktu" style="margin-top:5px">
                                    <tr>
                                        <td width="240" height="32" align="center"  background="images/wyqyyxs.jpg" class="inlmzt">网易企业邮箱用户数选择</td>
                                        <td width="492" background="images/yxjjbg.jpg">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="166" colspan="2"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" background="images/yhs.jpg" style="margin-top:8PX">
                                                <tr>
                                                    <td width="23%" height="179" align="center" valign="middle"><img src="images/qylogo1.png" width="151" height="152" /></td>
                                                    <td width="77%" valign="middle"><table width="94%" border="0" align="center" cellpadding="2" cellspacing="0" class="main">
                                                            <tr>
                                                                <td width="30%" height="35" class="font14hui"><label for="select"></label>
                                                                    <select name="select" class="font14hui" id="select">
                                                                        <option>5帐户/1000元/年</option>
                                                                        <option>10帐户/1950元/年</option>
                                                                        <option>15帐户/2850元/年</option>
                                                                        <option>20帐户/3700元/年</option>
                                                                        <option>25帐户/4500元/年</option>
                                                                        <option>30帐户/5250元/年</option>
                                                                        <option>50帐户/7750元/年</option>
                                                                        <option>100帐户/15000元/年</option>
                                                                        <option>200帐户/29600元/年</option>
                                                                    </select></td>
                                                                <td width="95%" class="font14hui"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td height="24" width="65%" align="center" bgcolor="#FFEFA4" class="inlmzt">在线开通  享<font color="#990000">9.8</font>折优惠</td>
                                                                            <td height="24" width="35%" align="right"><a href='http://4006360163.com/buy/buy-price.asp.html' target='_blank'>购买</a></td>
                                                                        </tr>
                                                                    </table></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="39" colspan="2" class="inlmzt"><font color="#CC0000">超过99.9%稳定性      不丢包      全球服务器布局      海外转发</font></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="70" colspan="2" class="fonthui1">SSL安全、无限容量；POP3/IMAP/WEB方式收发邮件；Android、iPhone客户端、Foxmail、Outlook同步，100M普通附件，2G超大附件（支持断点续传），5G大网盘，极速附件传输，客户端已发送邮件自动同步到网页端，邮件召回，电子传真，邮箱独立管理后台邮件监控、.发送邮件自动同步到网页端，邮件召回，电子传真，邮箱独立管理后台邮件监控、邮箱搬家....【详细】</td>
                                                            </tr>
                                                        </table></td>
                                                </tr>
                                            </table>
                                            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" background="images/yhs.jpg" style="margin-top:8PX">
                                                <tr>
                                                    <td width="23%" height="179" align="center" valign="middle"><img src="images/qylogo.png" width="151" height="152" /></td>
                                                    <td width="77%" valign="middle"><table width="94%" border="0" align="center" cellpadding="2" cellspacing="0" class="main">
                                                            <tr>
                                                                <td width="30%" height="39" class="font14hui"><label for="select2"></label>
                                                                    <select name="select2" class="font14hui" id="select2">
                                                                        <option>5帐户/1000元/年</option>
                                                                        <option>10帐户/1950元/年</option>
                                                                        <option>15帐户/2850元/年</option>
                                                                        <option>20帐户/3700元/年</option>
                                                                        <option>25帐户/4500元/年</option>
                                                                        <option>30帐户/5250元/年</option>
                                                                        <option>50帐户/7750元/年</option>
                                                                        <option>100帐户/15000元/年</option>
                                                                        <option>200帐户/29600元/年</option>
                                                                    </select></td>
                                                                <td width="95%" class="font14hui"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td height="24" width="65%" align="center" bgcolor="#FFEFA4" class="inlmzt">在线开通  享<font color="#990000">9.8</font>折优惠</td>
                                                                            <td height="24" width="35%" align="right"><a href='http://4006360163.com/buy/buy-price.asp.html' target='_blank'>购买</a></td>
                                                                        </tr>
                                                                    </table></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="39" colspan="2" class="inlmzt"><font color="#CC0000">全程数据通讯加密  10G带宽收发邮件速度快 超大附件收发</font></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="70" colspan="2" class="fonthui1">全程采用SSL加密能有效防止黑客盗取用户名和密码等隐私内容；安全锁功能对邮件的文件夹、个人网盘进行加锁；邮件加密功能发出的邮件进行密码保护。大型矩阵式服务器架构，架设于全国骨干网节点，10G邮件带宽电信、联通等多线接入。普通附件100M，超大附件2G，且支持网络硬盘附件直发。不占用发件人和收件人的邮箱容量和网盘容量，大附件不再是问题..【详细】</td>
                                                            </tr>
                                                        </table></td>
                                                </tr>
                                            </table></td>
                                    </tr>
                                </table></td>
                            <td width="267" valign="top"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu">
                                    <tr>
                                        <td width="14%" height="33" align="right" background="images/wyqyyxs.jpg" ><img src="images/dot00.jpg" width="8" height="12" /></td>
                                        <td width="86%" background="images/wyqyyxs.jpg" class="inlmzt" >&nbsp;企业邮箱常见问题<span style='float: right;'><a href='http://help.sky-sip.com/0.html'>更多</a></span></td>
                                    </tr>
                                    <tr>
                                        <td height="134" colspan="2"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0" class="fonthui1" style="margin:5px auto">
                                                <tr>
                                                    <td width="12%" height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td width="88%"><a href="<--index_article_href_1-->"><--index_article_1--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_2-->"><--index_article_2--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_3-->"><--index_article_3--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_4-->"><--index_article_4--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_5-->"><--index_article_5--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_6-->"><--index_article_6--></a></td>
                                                </tr>
                                            </table></td>
                                    </tr>
                                </table>
                                <table width="97%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" background="images/ssbg.jpg" style="margin-top:3px">
                                    <tr>
                                        <td height="38" align="center"><img src="images/sszt.jpg" width="226" height="28" /></td>
                                    </tr>
                                    <tr>
                                        <td height="42"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">


                                                <form action="http://www.4006360163.com/buy/order.php" method="post" target="_blank">
                                                    <tr>
                                                        <td width="24%" align="center" class="font14hui">用户数</td>
                                                        <td width="42%" align="left"><input name="Quantity" type="text" class="ssyhs"  id="Quantity" value="5" /></td>
                                                        <td width="34%"> <input type="image" src="images/cxsy.jpg" class="button_buy" /></td>
                                                    </tr> </form>
                                            </table></td>
                                    </tr>
                                </table>
                                <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" style="margin-top:5PX">
                                    <tr>
                                        <td width="14%" height="33" align="right" background="images/yxjjbg.jpg" ><img src="images/xwdot.jpg" width="9" height="12" /></td>
                                        <td width="86%" class="inlmzt" background="images/yxjjbg.jpg"  >&nbsp;企业邮箱常见问题<span style='float: right;'><a href='http://help.sky-sip.com/0.html'>更多</a></span></td>
                                    </tr>
                                    <tr>
                                        <td height="134" colspan="2"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0" class="fonthui1" style="margin:3px auto">
                                                <tr>
                                                    <td width="12%" height="25" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td width="88%"><a href="<--index_article_href_7-->"><--index_article_7--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="25" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_8-->"><--index_article_8--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="25" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_9-->"><--index_article_9--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="25" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_10-->"><--index_article_10--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="25" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_11-->"><--index_article_11--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="25" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_12-->"><--index_article_12--></a></td>
                                                </tr>
                                            </table></td>
                                    </tr>
                                </table>
                                <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu"  style="margin-top:3PX">
                                    <tr>
                                        <td width="100%" valign="middle"><img src="images/24hour.jpg" width="256" height="49" /></td>
                                    </tr>
                                    <tr>
                                        <td height="67"><img src="images/24hour1.jpg" width="256" height="68" /></td>
                                    </tr>
                                    <tr>
                                        <td><img src="images/24hour2.jpg" width="256" height="74" /></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="1011" height="103" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" style="margin-top:5px">
                        <tr>
                            <td height="43"  background="images/ys001.jpg"><table width="238" border="0" align="center" cellpadding="0" cellspacing="0" class="font18">
                                    <tr>
                                        <td width="238" height="39" align="center" bgcolor="#FEE483" ><font color="#CC0000">网易企业邮箱优势</font></td>
                                    </tr>
                                </table></td>
                        </tr>
                        <tr>
                            <td ><table width="990" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td height="84"  class="bkl bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                                                <tr>
                                                    <td width="72" rowspan="2" align="center"><img src="images/xt.jpg" width="53" height="45" /></td>
                                                    <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">基本配置</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" class="fonthui">单邮箱5G容量（免费扩容、无限空间）、支持100M普通附件、1G个人网盘。</td>
                                                </tr>
                                            </table></td>
                                        <td  class="bkl bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                                                <tr>
                                                    <td width="72" rowspan="2" align="center"><img src="images/xt1.jpg" width="46" height="53" /></td>
                                                    <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">超大附件</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" class="fonthui">普通附件100M，超大附件2G，支持网络硬盘直发，不占用邮箱容量！</td>
                                                </tr>
                                            </table></td>
                                        <td  class="bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                                                <tr>
                                                    <td width="72" rowspan="2" align="center"><img src="images/xt2.jpg" width="47" height="55" /></td>
                                                    <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">反垃圾、防病毒</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" class="fonthui">采用国际顶级卡巴斯基杀毒引擎，自动更新全球病毒库，病毒邮件过滤接近100%！</td>
                                                </tr>
                                            </table></td>
                                    </tr>
                                    <tr>
                                        <td height="80"  class="bkl bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                                                <tr>
                                                    <td width="72" rowspan="2" align="center"><img src="images/xt3.jpg" width="46" height="49" /></td>
                                                    <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">邮件自主备份</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" class="fonthui">指定主备份账号，即使邮件误删，也会从管理后台找到被删的邮件。</td>
                                                </tr>
                                            </table></td>
                                        <td  class="bkl bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                                                <tr>
                                                    <td width="72" rowspan="2" align="center"><img src="images/xt4.jpg" width="46" height="51" /></td>
                                                    <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">企业网盘</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" class="fonthui">1G个人网盘、可以免费扩容，企业网盘可以保存重要资料，方便安全。</td>
                                                </tr>
                                            </table></td>
                                        <td  class="bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                                                <tr>
                                                    <td width="72" rowspan="2" align="center"><img src="images/xt.jpg" width="53" height="45" /></td>
                                                    <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">短信易信验证</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" class="fonthui">网易是国内唯一一家将邮箱安全级别提升至网银级别的企业邮箱，短信、易信等安全验证！</td>
                                                </tr>
                                            </table></td>
                                    </tr>
                                    <tr>
                                        <td height="86"  class="bkl bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                                                <tr>
                                                    <td width="72" rowspan="2" align="center"><img src="images/xtt2014.jpg" width="53" height="45" /></td>
                                                    <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">海外收发</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" class="fonthui">全球230多个国家和地区均部署海外服务器，和亚马逊合作，业界首家，全球邮件发送！</td>
                                                </tr>
                                            </table></td>
                                        <td  class="bkl bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                                                <tr>
                                                    <td width="72" rowspan="2" align="center"><img src="images/xt.jpg" width="53" height="45" /></td>
                                                    <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">邮件状态查询</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" class="fonthui">可以自主查询邮件是否发送到对方服务器，便于及时回访客户！</td>
                                                </tr>
                                            </table></td>
                                        <td  class="bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                                                <tr>
                                                    <td width="72" rowspan="2" align="center"><img src="images/xtt20141.jpg" width="42" height="44" /></td>
                                                    <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">全文翻译、搜索</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" class="fonthui">网易企业邮箱可以对邮件进行翻译，让外文翻译变得简单准确，全文搜索找邮件更方便！</td>
                                                </tr>
                                            </table></td>
                                    </tr>
                                </table></td>
                        </tr> 
                    </table>
                    <table width="1011" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" style="margin-top:8px">
                        <tr>
                            <td width="89" height="41" align="center" class="inlmzt"><a href="http://www.qiangbi.net/cases.html" target="_blank">客户案例</a></td>
                            <td width="920"><div class="yqlj"><ul>
                                        <li><img src="images/alt0.jpg" width="140" height="44" /></li>
                                        <li><img src="images/alt.jpg" width="140" height="44" /></li>
                                        <li><img src="images/alt1.jpg" width="140" height="44" /></li>
                                        <li><img src="images/alt2.jpg" width="140" height="44" /></li>
                                        <li><img src="images/alt3.jpg" width="140" height="44" /></li>
                                        <li><img src="images/alt4.jpg" width="140" height="44" /></li>
                                    </ul>
                                </div></td>
                        </tr>
                    </table>

                    <table width="1011" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" style="margin-top:8px">
                        <tr>
                            <td width="90" height="41" align="center" class="inlmzt">友情链接</td>
                            <td width="919"><div class="yqlj"><ul>
                                        <li><a href='http://<--link_city_en_1-->'><--link_city_cn_1-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_2-->'><--link_city_cn_2-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_3-->'><--link_city_cn_3-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_4-->'><--link_city_cn_4-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_5-->'><--link_city_cn_5-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_6-->'><--link_city_cn_6-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_7-->'><--link_city_cn_7-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_8-->'><--link_city_cn_8-->企业邮箱</a></li>

                                        <li><a href='http://<--link_city_en_9-->'><--link_city_cn_9-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_10-->'><--link_city_cn_10-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_11-->'><--link_city_cn_11-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_12-->'><--link_city_cn_12-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_13-->'><--link_city_cn_13-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_14-->'><--link_city_cn_14-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_15-->'><--link_city_cn_15-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_16-->'><--link_city_cn_16-->企业邮箱</a></li>
                                    </ul>
                                </div></td>
                        </tr>
                    </table>
                    <input type='hidden' name='footer'>
                        <--footer-->
                        <input type='hidden' name='footer'>
                            <input type='hidden' name='chat'>
                                <--chat-->
                                <input type='hidden' name='chat'>
                                    </body>
                                    </html>
