<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><--my_title_1--></title>
        <meta http-equiv="keywords" content="<--my_keywords-->">
            <meta http-equiv="description" content="<--description-->">
                <link href="other/font.css" rel="stylesheet" type="text/css" />

                </head>

                <body>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td height="32" background="images/topbg.jpg"><table width="1011" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="583" height="27">&nbsp;</td>
                                        <td width="186"><a href="http://email.163.com/qiye/" target="_blank"><img src="images/qyyx.jpg" border="0"  /></a></td>
                                        <td width="242" class="fonthui">在线支付(担保交易零风险)   |   &nbsp;  <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODAzNDYxOF8xNjEzNjlfODAwMDE2MzE2M18yXw" target="_blank">用户疑问解答</a></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"  bgcolor="#FFFFFF">
                        <tr>
                            <td height="83"><table width="1011" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="816" height="42"><img src="images/logo.jpg" width="488" height="83" /></td>
                                        <td width="195"><img src="images/dh.jpg" width="195" height="60" /></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="39" background="images/meunx.jpg"><table width="990" border="0" align="center" cellpadding="0" cellspacing="0" class="font14hui">
                                    <tr>
                                        <td width="110" align="center" class="bkl"><a href='http://<--index_a_href-->'>首 页</a></td>
                                        <td width="110" align="center" class="bkl"><a href="yyjs.html">邮箱介绍</a></td>
                                        <td width="110" align="center" class="bkl"><a href="yyys.html">邮箱优势</a></td>
                                        <td width="110" align="center" class="bkl"><a href="ysjg.html">邮箱价格</a></td>
                                        <td width="110" align="center" class="bkl"><a href="gmlc.html">购买流程</a></td>
                                        <td width="110" align="center" class="bkl"><a href="khfw.html">客户服务</a></td>
                                        <td width="110" align="center" class="bkl"><a href="mfsy.html">免费试用</a></td>
                                        <td width="110" align="center" class="bkl"><a href="rjxz.html">软件下载</a></td>
                                        <td width="110" align="center"><a href="lxwm.html">联系我们</a></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="1011" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:5px">
                        <tr>
                            <td height="62" align="center"><img src="images/flasht1.jpg" width="1012" height="250" /></td>
                        </tr>
                    </table>
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"  class="bkend">
                        <tr>
                            <td height="50" bgcolor="#FFFFFF"><table width="1011" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td height="41" align="center"><img src="images/zplogony.jpg"></td>
                                        <td align="center"><img src="images/zplogony1.jpg"  ></td>
                                        <td align="center"><img src="images/zplogony2.jpg" ></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="1011" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:15px">
                        <tr>
                            <td width="744" height="406" valign="top"><table width="98%" border="0" cellpadding="0" cellspacing="0" class="bktu">
                                    <tr>
                                        <td width="54" height="32" valign="middle" background="images/yxjjbg.jpg">&nbsp;</td>
                                        <td width="678" valign="middle" background="images/yxjjbg.jpg" class="inlmzt"><a href="#"><font color="#990000">网易企业邮箱优势</font></a></td>
                                    </tr>
                                    <tr>
                                        <td height="724" colspan="2" valign="top"><table width="97%" border="0" align="center" cellspacing="0" class="font14hui" style="margin:8px auto">
                                                <tr>
                                                    <td height="35" align="center" bgcolor="#F3F3F3" class="inlmzt"><strong><font color="#990000">商务版配置及其报价</font></strong></td>
                                                </tr>
                                            </table>
                                            <table width="96%" align="center" cellpadding="0" cellspacing="0" class="fonthui1 tr">
                                                <tr>
                                                    <td width="14%" height="34" align="center" bgcolor="#FEFAEF">产品规格</td>
                                                    <td width="20%" align="center" bgcolor="#FEFAEF">邮箱容量（每用户）</td>
                                                    <td width="11%" align="center" bgcolor="#FEFAEF">普通附件</td>
                                                    <td width="11%" align="center" bgcolor="#FEFAEF">超大附件</td>
                                                    <td width="18%" align="center" bgcolor="#FEFAEF">个人网盘（每用户）</td>
                                                    <td width="12%" align="center" bgcolor="#FEFAEF">企业随身邮</td>
                                                    <td width="13%" align="center" bgcolor="#FEFAEF">价格（每年）</td>
                                                </tr>
                                                <tr>
                                                    <td height="30" align="center">5用户版</td>
                                                    <td align="center">5G（免费扩容）</td>
                                                    <td align="center">100M</td>
                                                    <td align="center">2G</td>
                                                    <td align="center">1G</td>
                                                    <td align="center">1个</td>
                                                    <td align="center">1000元</td>
                                                </tr>
                                                <tr>
                                                    <td height="30" align="center">20用户版</td>
                                                    <td align="center">5G（免费扩容）</td>
                                                    <td align="center">100M</td>
                                                    <td align="center">2G</td>
                                                    <td align="center">1G</td>
                                                    <td align="center">1个</td>
                                                    <td align="center">3700元</td>
                                                </tr>
                                                <tr>
                                                    <td height="30" align="center">50用户版</td>
                                                    <td align="center">5G（免费扩容）</td>
                                                    <td align="center">100M</td>
                                                    <td align="center">2G</td>
                                                    <td align="center">1G</td>
                                                    <td align="center">1个</td>
                                                    <td align="center">7750元</td>
                                                </tr>
                                                <tr>
                                                    <td height="30" align="center">100用户版</td>
                                                    <td align="center">5G（免费扩容）</td>
                                                    <td align="center">100M</td>
                                                    <td align="center">2G</td>
                                                    <td align="center">1G</td>
                                                    <td align="center">1个</td>
                                                    <td align="center">15000元</td>
                                                </tr>
                                                <tr>
                                                    <td height="30" align="center">200用户版</td>
                                                    <td align="center">5G（免费扩容）</td>
                                                    <td align="center">100M</td>
                                                    <td align="center">2G</td>
                                                    <td align="center">1G</td>
                                                    <td align="center">1个</td>
                                                    <td align="center">29600元</td>
                                                </tr>
                                                <tr>
                                                    <td height="30" align="center">500用户版</td>
                                                    <td align="center">5G（免费扩容）</td>
                                                    <td align="center">100M</td>
                                                    <td align="center">2G</td>
                                                    <td align="center">1G</td>
                                                    <td align="center">1个</td>
                                                    <td align="center">72500元</td>
                                                </tr>
                                                <tr>
                                                    <td height="33" colspan="7" align="center" bgcolor="#FEFAEF">备注：每50个用户赠送一个企业随身邮和一个邮件传真号，每个企业赠送5G企业网盘。</td>
                                                </tr>
                                            </table>
                                            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" style="margin-top:10px">


                                                <form id="order_shangwu" name="order_shangwu" method="post" action="http://4006360163.com/buy/order.php">
                                                    <tr>
                                                        <td width="39%" height="37" align="center" valign="middle" bgcolor="#FEECCB"><img src="images/swb.png" width="245" height="24" /></td>
                                                        <td width="34%" valign="middle" bgcolor="#FEECCB" class="font14hui">需要开通
                                                            <input name="Quantity" type="text" class="ssyhs1" id="Text1" value="5" />
                                                            个数</td>
                                                        <td width="27%" bgcolor="#FEECCB"> <input type="image" name="imageField" src="images/xjgm.jpg" class="button_buy" /></td>
                                                    </tr></form>
                                            </table>
                                            <table width="97%" border="0" align="center" cellspacing="0" class="font14hui" style="margin:8px auto">
                                                <tr>
                                                    <td height="35" align="center" bgcolor="#F3F3F3" class="inlmzt"><strong><font color="#990000">旗舰版配置及其报价</font></strong></td>
                                                </tr>
                                            </table>
                                            <table width="96%" align="center" cellpadding="0" cellspacing="0" class="fonthui1 tr">
                                                <tr>
                                                    <td width="10%" height="34" align="center" bgcolor="#FEFAEF">产品规格</td>
                                                    <td width="24%" align="center" bgcolor="#FEFAEF">邮箱容量（每用户）</td>
                                                    <td width="11%" align="center" bgcolor="#FEFAEF">普通附件</td>
                                                    <td width="11%" align="center" bgcolor="#FEFAEF">超大附件</td>
                                                    <td width="18%" align="center" bgcolor="#FEFAEF">个人网盘（每用户）</td>
                                                    <td width="13%" align="center" bgcolor="#FEFAEF">企业随身邮</td>
                                                    <td width="13%" align="center" bgcolor="#FEFAEF">价格（每年）</td>
                                                </tr>
                                                <tr>
                                                    <td height="30" align="center">5用户版</td>
                                                    <td align="center">5G（免费扩容+即时通）</td>
                                                    <td align="center">100M</td>
                                                    <td align="center">2G</td>
                                                    <td align="center">1G</td>
                                                    <td align="center">1个</td>
                                                    <td align="center">1500元</td>
                                                </tr>
                                                <tr>
                                                    <td height="30" align="center">20用户版</td>
                                                    <td align="center">5G（免费扩容+即时通）</td>
                                                    <td align="center">100M</td>
                                                    <td align="center">2G</td>
                                                    <td align="center">1G</td>
                                                    <td align="center">1个</td>
                                                    <td align="center">5550元</td>
                                                </tr>
                                                <tr>
                                                    <td height="30" align="center">50用户版</td>
                                                    <td align="center">5G（免费扩容+即时通）</td>
                                                    <td align="center">100M</td>
                                                    <td align="center">2G</td>
                                                    <td align="center">1G</td>
                                                    <td align="center">1个</td>
                                                    <td align="center">11625元</td>
                                                </tr>
                                                <tr>
                                                    <td height="30" align="center">100用户版</td>
                                                    <td align="center">5G（免费扩容+即时通）</td>
                                                    <td align="center">100M</td>
                                                    <td align="center">2G</td>
                                                    <td align="center">1G</td>
                                                    <td align="center">1个</td>
                                                    <td align="center">22500元</td>
                                                </tr>
                                                <tr>
                                                    <td height="30" align="center">200用户版</td>
                                                    <td align="center">5G（免费扩容+即时通）</td>
                                                    <td align="center">100M</td>
                                                    <td align="center">2G</td>
                                                    <td align="center">1G</td>
                                                    <td align="center">1个</td>
                                                    <td align="center">44400元</td>
                                                </tr>
                                                <tr>
                                                    <td height="30" align="center">500用户版</td>
                                                    <td align="center">5G（免费扩容+即时通）</td>
                                                    <td align="center">100M</td>
                                                    <td align="center">2G</td>
                                                    <td align="center">1G</td>
                                                    <td align="center">1个</td>
                                                    <td align="center">108750元</td>
                                                </tr>
                                                <tr>
                                                    <td height="31" colspan="7" align="center" bgcolor="#FEFAEF">备注：每50个用户赠送一个企业随身邮和一个邮件传真号，每个企业赠送5G企业网盘。</td>
                                                </tr>
                                            </table>
                                            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" style="margin-top:10px">


                                                <form id="order_shangwu" name="order_shangwu" method="post" action="http://4006360163.com/buy/order.php">
                                                    <tr>
                                                        <td width="39%" height="37" align="center" valign="middle" bgcolor="#FEECCB"><img src="images/qjb.png" width="245" height="24" /></td>
                                                        <td width="34%" valign="middle" bgcolor="#FEECCB" class="font14hui">需要开通
                                                            <input name="Quantity" type="text" class="ssyhs1" id="Text1" value="5" />
                                                            个数</td>
                                                        <td width="27%" bgcolor="#FEECCB"> <input type="image" name="imageField" src="images/xjgm.jpg" class="button_buy" /></td>
                                                    </tr></form>
                                            </table>

                                        </td>
                                    </tr>
                                </table></td>
                            <td width="267" valign="top"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu">
                                    <tr>
                                        <td width="14%" height="33" align="right" background="images/wyqyyxs.jpg" ><img src="images/dot00.jpg" width="8" height="12" /></td>
                                        <td width="86%" background="images/wyqyyxs.jpg" class="inlmzt" >&nbsp;产品介绍</td>
                                    </tr>
                                    <tr>
                                        <td height="134" colspan="2"><table width="83%" border="0" align="center" cellpadding="0" cellspacing="0" class="font14hui" style="margin:5px auto">
                                                <tr>
                                                    <td width="17%" height="28" align="center" class="bkend"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td width="83%"  class="bkend">
                                                        <a href="http://4006360163.com/mail-introduction.html">邮箱介绍</a>
                                                    </td>
                                                </tr>
                                                <tr >
                                                    <td height="28" align="center" class="bkend"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td class="bkend">   <a href="http://4006360163.com/mail-features.html" target="_blank">邮箱功能</a><br /></td>
                                                </tr>
                                                <tr >
                                                    <td height="28" align="center" class="bkend"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td class="bkend"><a href="http://4006360163.com/quality.html" target="_blank">品质保障</a></td>
                                                </tr>
                                                <tr >
                                                    <td height="28" align="center" class="bkend"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td class="bkend"><a href="http://4006360163.com/mail-advantages.html" target="_blank">邮箱优势</a></td>
                                                </tr>
                                                <tr >
                                                    <td height="28" align="center" class="bkend"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td class="bkend"><a href="http://4006360163.com/mail-trial.asp.html" target="_blank">开通试用</a></td>
                                                </tr>
                                                <tr class="bkend">
                                                    <td height="28" align="center" class="bkend"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td class="bkend"><a href="http://4006360163.com/buy/buy-price.asp.html" target="_blank">邮箱价格</a></td>
                                                </tr>
                                            </table></td>
                                    </tr>
                                </table>
                                <table width="97%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" background="images/ssbg.jpg" style="margin-top:3px">
                                    <tr>
                                        <td height="38" align="center"><img src="images/sszt.jpg" width="226" height="28" /></td>
                                    </tr>
                                    <tr>
                                        <td height="42"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">


                                                <form action="http://www.4006360163.com/buy/order.php" method="post" target="_blank">
                                                    <tr>
                                                        <td width="24%" align="center" class="font14hui">用户数</td>
                                                        <td width="42%" align="left"><input name="Quantity" type="text" class="ssyhs"  id="Quantity" value="5" /></td>
                                                        <td width="34%"> <input type="image" src="images/cxsy.jpg" class="button_buy" /></td>
                                                    </tr> </form>
                                            </table></td>
                                    </tr>
                                </table>
                                <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" style="margin-top:5PX">
                                    <tr>
                                        <td width="14%" height="33" align="right" background="images/yxjjbg.jpg" ><img src="images/xwdot.jpg" width="9" height="12" /></td>
                                        <td width="86%" class="inlmzt" background="images/yxjjbg.jpg"  >&nbsp;企业邮箱常见问题</td>
                                    </tr>
                                    <tr>
                                        <td height="134" colspan="2"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0" class="fonthui1" style="margin:3px auto">
                                                <tr>
                                                    <td width="12%" height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td width="88%"><a href="<--index_article_href_1-->"><--index_article_1--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_2-->"><--index_article_2--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_3-->"><--index_article_3--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_4-->"><--index_article_4--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_5-->"><--index_article_5--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_6-->"><--index_article_6--></a></td>
                                                </tr>
                                                <tr>
                                                    <td width="12%" height="25" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td width="88%"><a href="<--index_article_href_7-->"><--index_article_7--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="25" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_8-->"><--index_article_8--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="25" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_9-->"><--index_article_9--></a></td>
                                                </tr>
                                            </table></td>
                                    </tr>
                                </table>
                                <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu"  style="margin-top:3PX">
                                    <tr>
                                        <td width="100%" valign="middle"><img src="images/24hour.jpg" width="256" height="49" /></td>
                                    </tr>
                                    <tr>
                                        <td height="67"><img src="images/24hour1.jpg" width="256" height="68" /></td>
                                    </tr>
                                    <tr>
                                        <td><img src="images/24hour2.jpg" width="256" height="74" /></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>

                    <table width="1011" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" style="margin-top:8px">
                        <tr>
                            <td width="100" height="41" align="center" class="inlmzt">友情链接</td>
                            <td width="909"><div class="yqlj"><ul>
                                        <li><a href='http://<--link_city_en_1-->'><--link_city_cn_1-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_2-->'><--link_city_cn_2-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_3-->'><--link_city_cn_3-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_4-->'><--link_city_cn_4-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_5-->'><--link_city_cn_5-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_6-->'><--link_city_cn_6-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_7-->'><--link_city_cn_7-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_8-->'><--link_city_cn_8-->企业邮箱</a></li>

                                        <li><a href='http://<--link_city_en_9-->'><--link_city_cn_9-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_10-->'><--link_city_cn_10-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_11-->'><--link_city_cn_11-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_12-->'><--link_city_cn_12-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_13-->'><--link_city_cn_13-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_14-->'><--link_city_cn_14-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_15-->'><--link_city_cn_15-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_16-->'><--link_city_cn_16-->企业邮箱</a></li>
                                    </ul>
                                </div></td>
                        </tr>
                    </table>

                    <input type='hidden' name='footer'>
                        <--footer-->
                        <input type='hidden' name='footer'>
                            <input type='hidden' name='chat'>
                                <--chat-->
                                <input type='hidden' name='chat'>
                                    </body>
                                    </html>
