<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><--my_title_1--></title>
        <meta http-equiv="keywords" content="<--my_keywords-->">
            <meta http-equiv="description" content="<--description-->">
                <link href="other/font.css" rel="stylesheet" type="text/css" />
                <style type="text/css">
                    .yqlj ul li img {
                        height: 44px;
                        width: 84px;
                    }
                </style>
                </head>

                <body>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td height="32" background="images/topbg.jpg"><table width="1011" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="583" height="27">&nbsp;</td>
                                        <td width="186"><a href="http://email.163.com/qiye/" target="_blank"><img src="images/qyyx.jpg" border="0"  /></a></td>
                                        <td width="242" class="fonthui">在线支付(担保交易零风险)   |   &nbsp;  <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODAzNDYxOF8xNjEzNjlfODAwMDE2MzE2M18yXw" target="_blank">用户疑问解答</a></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"  bgcolor="#FFFFFF">
                        <tr>
                            <td height="83"><table width="1011" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="816" height="42"><img src="images/logo.jpg" width="488" height="83" /></td>
                                        <td width="195"><img src="images/dh.jpg" width="195" height="60" /></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="39" background="images/meunx.jpg"><table width="990" border="0" align="center" cellpadding="0" cellspacing="0" class="font14hui">
                                    <tr>
                                        <td width="110" align="center" class="bkl"><a href='http://<--index_a_href-->'>首 页</a></td>
                                        <td width="110" align="center" class="bkl"><a href="yyjs.html">邮箱介绍</a></td>
                                        <td width="110" align="center" class="bkl"><a href="yyys.html">邮箱优势</a></td>
                                        <td width="110" align="center" class="bkl"><a href="ysjg.html">邮箱价格</a></td>
                                        <td width="110" align="center" class="bkl"><a href="gmlc.html">购买流程</a></td>
                                        <td width="110" align="center" class="bkl"><a href="khfw.html">客户服务</a></td>
                                        <td width="110" align="center" class="bkl"><a href="mfsy.html">免费试用</a></td>
                                        <td width="110" align="center" class="bkl"><a href="rjxz.html">软件下载</a></td>
                                        <td width="110" align="center"><a href="lxwm.html">联系我们</a></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="1011" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:5px">
                        <tr>
                            <td height="62" align="center"><img src="images/flasht1.jpg" width="1012" height="250" /></td>
                        </tr>
                    </table>
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"  class="bkend">
                        <tr>
                            <td height="50" bgcolor="#FFFFFF"><table width="1011" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td height="41" align="center"><img src="images/zplogony.jpg"></td>
                                        <td align="center"><img src="images/zplogony1.jpg"  ></td>
                                        <td align="center"><img src="images/zplogony2.jpg" ></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="1011" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:15px">
                        <tr>
                            <td width="744" height="406" valign="top"><table width="734" border="0" cellpadding="0" cellspacing="0" class="bktu">
                                    <tr>
                                        <td width="54" height="32" valign="middle" background="images/yxjjbg.jpg">&nbsp;</td>
                                        <td width="678" valign="middle" background="images/yxjjbg.jpg" class="inlmzt"><a href="#"><font color="#d92406">网易企业邮箱简介</font></a></font></td>
                                    </tr>
                                    <tr>
                                        <td height="133" colspan="2" valign="top"><table width="97%" border="0" align="center" cellspacing="0" class="font14hui" style="margin:8px auto">
                                                <tr>
                                                    <td height="35" align="center" bgcolor="#F3F3F3" class="inlmzt"><strong><font color="#990000">网易 (NASDAQ:NTES)是中国领先的互联网技术公司</font></strong></td>
                                                </tr>
                                                <tr>
                                                    <td><p><img align="left" src="images/163logo.jpg" width="149" height="103"  style="margin:5px" class="bktu"/>在开发互联网应用、服务及其它技术方面，始终保持国内业界的领先地位。网易对中国互联网的发展具有强烈的使命感，网易利用最先进的互联网技术，加强人与人之间信息的交流和共享，实现&ldquo;网聚人的力量&rdquo;。<strong>邮件业务</strong>是网易公司的发展重点及重要基础服务。1997年11月，网易自主研发了国内首个全中文的免费电子邮件系统。时至今天，网易旗下七大电子邮箱（163.com、126.com、yeah.net、188.com、vip.163.com、专业企业邮箱、免费企业邮箱）用户总数已突破3亿，免费邮箱和收费邮箱市场占有率均稳居全国第一。</p>
                                                        <p> </p></td>
                                                </tr>
                                            </table>
                                            <table width="97%" border="0" align="center" cellspacing="0" class="font14hui" style="margin:8px auto">
                                                <tr>
                                                    <td height="35" align="center" bgcolor="#F3F3F3" class="inlmzt"><strong><font color="#990000">网易企业邮箱采用业内顶尖技术</font></strong></td>
                                                </tr>
                                                <tr>
                                                    <td><p><img src="images/163maillogo.gif" width="166" height="43" align="left" class="bktu"  style="margin:5px"/>由具有丰富经验的专业团队开发运营，致力于为企业用户提供中国最专业的电子邮箱服务。网易企业邮箱，最专业的企业邮箱。 </p>
                                                        <ul>
                                                            <li>1997年11月，网易自主研发了国内首个全中文的电子邮件系统。</li>
                                                            <li>网易旗下六大电子邮箱（163.com、126.com、yeah.net、188.com、vip.163.com、163企业邮箱）用户总数已突破3亿，成为全球最大的邮件业务运营商。</li>
                                                            <li>自主创新了智能反垃圾技术，是目前国内反垃圾技术最优秀的企业。</li>
                                                            <li>网易在海外架设邮件服务器并提供国际化企业邮箱服务的服务商</li>
                                                            <li>网易分别在国内各电信运营商的主干网数据中心架设邮件服务器</li>
                                                            <li>2006年度反垃圾邮件产品推荐品牌奖</li>
                                                            <li>2006中国反垃圾协会反垃圾邮件综合处理平台技术战略合作伙伴</li>
                                                            <li>2004年度中国最佳客服中心奖</li>
                                                            <li>2005年度中国客户关怀标杆奖</li>
                                                            <li>2006年度&ldquo;绿色邮箱&rdquo;奖</li>
                                                            <li>2006年度IT用户满意度第一企业</li>
                                                            <li>2007年度电子邮件产业发展贡献奖</li>
                                                            <li>2008年度网易客服中心荣获&ldquo;中国最佳客户服务奖&rdquo;</li>
                                                            <li> 2008年度网易客服中心荣获&ldquo;中国最佳售后服务&rdquo;</li>
                                                            <li> 2008至2009电子邮箱中国最佳互联网成长企业奖</li>
                                                            <li>网易企业邮箱获&ldquo;金邮筒杯&rdquo;最佳技术创新奖</li>
                                                            <li>中国AAA级信用等级企业</li>
                                                            <li>中国互联网协会理事单位</li>
                                                            <li>中国反垃圾邮件协会理事单位 </li>
                                                        </ul></td>
                                                </tr>
                                            </table></td>
                                    </tr>
                                </table></td>
                            <td width="267" valign="top"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu">
                                    <tr>
                                        <td width="14%" height="33" align="right" background="images/wyqyyxs.jpg" ><img src="images/dot00.jpg" width="8" height="12" /></td>
                                        <td width="86%" background="images/wyqyyxs.jpg" class="inlmzt" >&nbsp;产品介绍</td>
                                    </tr>
                                    <tr>
                                        <td height="134" colspan="2"><table width="83%" border="0" align="center" cellpadding="0" cellspacing="0" class="font14hui" style="margin:5px auto">
                                                <tr>
                                                    <td width="17%" height="28" align="center" class="bkend"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td width="83%"  class="bkend">
                                                        <a href="mail-introduction.html">邮箱介绍</a>
                                                    </td>
                                                </tr>
                                                <tr >
                                                    <td height="28" align="center" class="bkend"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td class="bkend">   邮箱功能<br /></td>
                                                </tr>
                                                <tr >
                                                    <td height="28" align="center" class="bkend"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td class="bkend">邮箱优势</td>
                                                </tr>
                                                <tr >
                                                    <td height="28" align="center" class="bkend"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td class="bkend">邮箱功能</td>
                                                </tr>
                                                <tr >
                                                    <td height="28" align="center" class="bkend"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td class="bkend">开通试用</td>
                                                </tr>
                                                <tr class="bkend">
                                                    <td height="28" align="center" class="bkend"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td class="bkend">邮箱价格</td>
                                                </tr>
                                            </table></td>
                                    </tr>
                                </table>
                                <table width="97%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" background="images/ssbg.jpg" style="margin-top:3px">
                                    <tr>
                                        <td height="38" align="center"><img src="images/sszt.jpg" width="226" height="28" /></td>
                                    </tr>
                                    <tr>
                                        <td height="42"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">


                                                <form action="http://www.4006360163.com/buy/order.php" method="post" target="_blank">
                                                    <tr>
                                                        <td width="24%" align="center" class="font14hui">用户数</td>
                                                        <td width="42%" align="left"><input name="Quantity" type="text" class="ssyhs"  id="Quantity" value="5" /></td>
                                                        <td width="34%"> <input type="image" src="images/cxsy.jpg" class="button_buy" /></td>
                                                    </tr> </form>
                                            </table></td>
                                    </tr>
                                </table>
                                <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" style="margin-top:5PX">
                                    <tr>
                                        <td width="14%" height="33" align="right" background="images/yxjjbg.jpg" ><img src="images/xwdot.jpg" width="9" height="12" /></td>
                                        <td width="86%" class="inlmzt" background="images/yxjjbg.jpg"  >&nbsp;企业邮箱常见问题</td>
                                    </tr>
                                    <tr>
                                        <td height="134" colspan="2"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0" class="fonthui1" style="margin:3px auto">
                                                <tr>
                                                    <td width="12%" height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td width="88%"><a href="<--index_article_href_1-->"><--index_article_1--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_2-->"><--index_article_2--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_3-->"><--index_article_3--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_4-->"><--index_article_4--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_5-->"><--index_article_5--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="26" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_6-->"><--index_article_6--></a></td>
                                                </tr>
                                                <tr>
                                                    <td width="12%" height="25" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td width="88%"><a href="<--index_article_href_7-->"><--index_article_7--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="25" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_8-->"><--index_article_8--></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="25" align="center"><img src="images/dot.jpg" width="4" height="8" /></td>
                                                    <td><a href="<--index_article_href_9-->"><--index_article_9--></a></td>
                                                </tr>
                                            </table></td>
                                    </tr>
                                </table>
                                <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu"  style="margin-top:3PX">
                                    <tr>
                                        <td width="100%" valign="middle"><img src="images/24hour.jpg" width="256" height="49" /></td>
                                    </tr>
                                    <tr>
                                        <td height="67"><img src="images/24hour1.jpg" width="256" height="68" /></td>
                                    </tr>
                                    <tr>
                                        <td><img src="images/24hour2.jpg" width="256" height="74" /></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>

                    <table width="1011" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" style="margin-top:8px">
                        <tr>
                            <td width="100" height="41" align="center" class="inlmzt">友情链接</td>
                            <td width="909"><div class="yqlj"><ul>
                                        <li><a href='http://<--link_city_en_1-->'><--link_city_cn_1-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_2-->'><--link_city_cn_2-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_3-->'><--link_city_cn_3-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_4-->'><--link_city_cn_4-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_5-->'><--link_city_cn_5-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_6-->'><--link_city_cn_6-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_7-->'><--link_city_cn_7-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_8-->'><--link_city_cn_8-->企业邮箱</a></li>

                                        <li><a href='http://<--link_city_en_9-->'><--link_city_cn_9-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_10-->'><--link_city_cn_10-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_11-->'><--link_city_cn_11-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_12-->'><--link_city_cn_12-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_13-->'><--link_city_cn_13-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_14-->'><--link_city_cn_14-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_15-->'><--link_city_cn_15-->企业邮箱</a></li>
                                        <li><a href='http://<--link_city_en_16-->'><--link_city_cn_16-->企业邮箱</a></li>
                                    </ul>
                                </div></td>
                        </tr>
                    </table>
                    <input type='hidden' name='footer'>
                        <--footer-->
                        <input type='hidden' name='footer'>
                            <input type='hidden' name='chat'>
                                <--chat-->
                                <input type='hidden' name='chat'>
                                    </body>
                                    </html>
