<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><--my_title_1-->网易企业邮箱首页</title>
<meta http-equiv="keywords" content="<--my_keywords-->">
<meta http-equiv="description" content="<--description-->">
<meta http-equiv="keywords" content="<--my_keywords-->">
<meta http-equiv="description" content="<--description-->">
<link href="other/font.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="top">
  <div class="wz"><a href="http://email.163.com/qiye/">企业邮箱用户登录</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp; <a href="mfsy.html"><font color="#cc0000"><b>立即免费试用</b></font></a></div><img src="images/logo.png" width="575" height="54" style="margin-top:10px" />
</div>
<div id="meun"><ul><li class="meunx"><a href="/">首页</a></li><li class="meunx"> <a href="yyjs.html">邮箱介绍</a> </li><li class="meunx"><a href="yyys.html">邮箱优势</a></li><li class="meunx"> <a href="ysjg.html">邮箱价格</a> </li><li class="meunx"> <a href="gmlc.html">购买流程</a> </li><li class="meunx"> <a href="khfw.html">客户服务</a> </li><li class="meunx"> <a href="rjxz.html">软件下载</a>  </li><li class="meunx"> <a href="mfsy.html">免费试用</a>  </li><li><a href="lxwm.html">联系我们</a></li>
</ul></div>
<div id="flash"> <script language='JavaScript' type="text/javascript">
linkarr = new Array();
picarr = new Array();
textarr = new Array();
var swf_width=950;
var swf_height=288;
//文字颜色|文字位置|文字背景颜色|文字背景透明度|按键文字颜色|按键默认颜色|按键当前颜色|自动播放时间|图片过渡效果|是否显示按钮|打开方式
var configtg='0xffffff|2|0x8CA2AD|60|0xffffff|0xff9900|0x000033|4|2|1|_blank';
var files = "";
var links = "";
///这里设置调用标记
linkarr[1] = "http://www.4006360163.com/news/20140730/167.html";
picarr[1]  = "images/gzy2.jpg";
linkarr[2] = "http://www.4006360163.com/news/20140710/162.html";
picarr[2]  = "images/index3.jpg";
linkarr[3] = "http://www.4006360163.com/news/20140730/169.html";
picarr[3]  = "images/qizha.jpg";

for(i=1;i<picarr.length;i++){
if(files=="") files = picarr[i];
else files += "|"+picarr[i];
}
for(i=1;i<linkarr.length;i++){
if(links=="") links = linkarr[i];
else links += "|"+linkarr[i];
}
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ swf_width +'" height="'+ swf_height +'">');
document.write('<param name="movie" value="images/bcastr3.swf"><param name="quality" value="high">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_config='+configtg+'">');
document.write('<embed src="images/bcastr3.swf" wmode="opaque" FlashVars="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_config='+configtg+'&menu="false" quality="high" width="'+ swf_width +'" height="'+ swf_height +'" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); document.write('</object>');
      </script></div>
<div id="ysys"><ul><li class="ysmeunx"><img src="images/tub1.jpg" width="156" height="87" /><p><a href="#">邮箱管理权在公司，保证重要业务资料不丢失。</a></p>
</li><li class="ysmeunx"><img src="images/tub2.jpg" width="156" height="87" /><p>统一的邮箱账号后缀，有利于塑造企业形象，方便业务联络。</p></li><li class="ysmeunx"><img src="images/tub3.jpg" width="156" height="87" />
<p>国内唯一获得"中国最佳客户服务奖"的互联网企业。</p></li><li class="ysmeunx"><img src="images/tub4.jpg" width="156" height="87" /><p>采用大型矩阵式服务器架构，安全稳定，收发邮件通畅无阻。</p></li>
<li class="ysmeunx"><img src="images/tub5.jpg" width="156" height="87" /><p>垃圾邮件正确捕获率高达99.95%，病毒邮件过滤接近100%。</p></li><li><img src="images/tub6.jpg" width="156" height="87" /><p>中国信息安全测评中心权威证书，EAL2级信息安全独家资质。</p></li></ul></div>
<div class="tlbody">
  <div class="sstu">    
      <h1><img src="images/sstop.jpg" width="340" height="50" style="margin-bottom:2px" /></h1>
    <div class="sstl"><form id="order_shangwu" name="order_shangwu" method="post" action="http://4006360163.com/buy/order.php"><input name="Quantity" type="text" class="tex"  id="Quantity" value="5" /><input type="image" src="images/sy.jpg" class="img1"/></form><div class="clear"></div></div>

      <div class="sstlz"><a href="ysjg.html"><img src="images/cpbj.jpg" width="102" height="27" style="margin-right:10px"/></a><a href="gmlc.html"><img src="images/gmlc.jpg" width="102" height="27" /></a></div>
  </div>
  <div class="cjwtd" style="margin-left:11px">
    <h1><a href="khfw.html">常见问题</a></h1>
      <div class="cjwt">
<ul><li><a href="<--index_article_href_1-->"><--index_article_1--></a></li>
<li><a href="<--index_article_href_2-->"><--index_article_2--></a></li>
<li><a href="<--index_article_href_3-->"><--index_article_3--></a></li>
<li><a href="<--index_article_href_4-->"><--index_article_4--></a></li>
<li><a href="<--index_article_href_5-->"><--index_article_5--></a></li></ul>
    </div>
    </div>
  <div class="cjwtd" style="margin-left:16px">
    <h1>联系我们</h1>
      <div class="cjwt"><img src="images/lxfs.jpg" width="252" height="109" /></div>
    </div>
    <div class="clear"></div>    
</div>
<div class="tlbody">
  <div class="yxwtleft">
  <h1>网易企业邮箱用户数选择</h1>
  <div class="yxwtleftn">
    <table width="94%" border="0" align="center" cellpadding="2" cellspacing="0" class="main">
      <tr>
        <td width="26%" rowspan="2" class="font14hui"><img src="images/yxtu.jpg" width="73" height="74" /></td>
        <td height="35" colspan="2" align="left" class="font14hui"><label for="select"></label>
          <select name="select" class="font14hui" id="select">
            <option>5帐户/1000元/年</option>
            <option>10帐户/1950元/年</option>
            <option>15帐户/2850元/年</option>
            <option>20帐户/3700元/年</option>
            <option>25帐户/4500元/年</option>
            <option>30帐户/5250元/年</option>
            <option>50帐户/7750元/年</option>
            <option>100帐户/15000元/年</option>
            <option>200帐户/29600元/年</option>
          </select></td>
      </tr>
      <tr>
        <td width="45%" height="39" class="font14hui"><span class="inlmzt">在线开通  享<font color="#990000">9.8</font>折优惠&nbsp;</span></td>
        <td width="29%" class="font14hui"><span class="inlmzt"><a href="mfsy.html"><img src="images/gm.jpg" width="55" height="29" /></a></span></td>
      </tr>
      <tr>
        <td height="58" colspan="3" class="font14hui"><font color="#CC0000">无限容量；  超过99.9%稳定性；   不丢包
            <br />
          海外转发； 全球服务器布局；多级别管理员</font></td>
      </tr>
      </table>

    </div> 
 </div>

  <div class="cjwtd" style="margin-left:11px">
    <h1>企业邮箱优势</h1>
      <div class="cjwt">
<ul><li><a href="<--index_article_href_6-->"><--index_article_6--></a></li>
<li><a href="<--index_article_href_7-->"><--index_article_7--></a></li>
<li><a href="<--index_article_href_8-->"><--index_article_8--></a></li>
<li><a href="<--index_article_href_9-->"><--index_article_9--></a></li>
<li><a href="<--index_article_href_10-->"><--index_article_10--></a></li>
<li><a href="<--index_article_href_11-->"><--index_article_11--></a></li>
</ul>
    </div>
  </div>
  <div class="cjwtd" style="margin-left:16px">
    <h1><font color="#d92406">网易企业邮箱简介</font></h1>
      <div class="cjwt">
<p>网易企业邮箱(163企业邮箱)
  经过300万企业邮箱用户中国最大的邮箱客户群服务经验研发、升级的企业邮局系统，无论是从市场占有率、服务器稳定性、用户口碑方面，都处于全国第一的绝对领先地位。</p>
    </div>
  </div>  
  <div class="clear"></div>  
</div>
<div class="yqlj">
<h1>成功案例 </h1>
<ul>
    <li><img src="images/alt0.jpg" width="140" height="44" /></li>
     <li><img src="images/alt.jpg" width="140" height="44" /></li>
      <li><img src="images/alt1.jpg" width="140" height="44" /></li>
       <li><img src="images/alt2.jpg" width="140" height="44" /></li>
      <li><img src="images/alt3.jpg" width="140" height="44" /></li>
      <li><img src="images/alt4.jpg" width="140" height="44" /></li>
    </ul>
    <div class="clear"> </div>
    </div>
    <div class="yqlj">
<h1>友情连接 </h1>
<ul>
   <li><a href='http://<--link_city_en_1-->'><--link_city_cn_1-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_2-->'><--link_city_cn_2-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_3-->'><--link_city_cn_3-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_4-->'><--link_city_cn_4-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_5-->'><--link_city_cn_5-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_6-->'><--link_city_cn_6-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_7-->'><--link_city_cn_7-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_8-->'><--link_city_cn_8-->企业邮箱</a></li>
	
    <li><a href='http://<--link_city_en_9-->'><--link_city_cn_9-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_10-->'><--link_city_cn_10-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_11-->'><--link_city_cn_11-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_12-->'><--link_city_cn_12-->企业邮箱</a></li>
</ul>
    <div class="clear"> </div>
    </div>
<div id="footer"> <span class="font14hui">联想企业网盘        网易企业邮箱        163企业邮箱         crm客户关系管理        企业邮箱申请        企业邮箱网
</span><br />
  <a href="lxwm.html">关于我们</a> - 服务品质保障 - <a href="khfw.html">客户服务</a> - <a href="lxwm.html">联系我们</a> - <a href="gmlc.html">在线支付</a> - 站长统计 <br />
济南强比科技有限公司 版权所有 
<script type='text/javascript' src='http://cs.ecqun.com/?id=228266&scheme=2' charset='utf-8'></script>                                                                                          
<script type='text/javascript'>kfguin='8000163163';eid='218808P8z8p8P8Q8x8q8z';ws='163-m.com'; companyname='网易企业邮箱'; welcomeword='您好，请问有什么可以效劳吗？'; type='1';wpadomain='b';</script> 
<script type='text/javascript' src='http://im.bizapp.qq.com:8000/kf_100630.js'></script> </div>
</body>
</html>
