<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><--my_title_1--></title>
        <meta http-equiv="keywords" content="<--my_keywords-->">
            <meta http-equiv="description" content="<--description-->">
                <link href="../other/listfont.css" rel="stylesheet" type="text/css" />
                </head>
                <body>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td height="32" background="../images_listcont/topbg.jpg"><table width="1011" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="583" height="27">&nbsp;</td>
                                        <td width="186"><img src="../images_listcont/qyyx.jpg"  /></td>
                                        <td width="242" class="fonthui">在线支付(担保交易零风险)   |   &nbsp;  <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODAzNDYxOF8xNjEzNjlfODAwMDE2MzE2M18yXw" target="_blank">用户疑问解答</a></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"  bgcolor="#FFFFFF">
                        <tr>
                            <td height="83"><table width="1011" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="816" height="42"><img src="../images_listcont/logo.jpg" width="488" height="83" /></td>
                                        <td width="195"><img src="../images_listcont/dh.jpg" width="195" height="60" /></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="39" background="../images_listcont/meunx.jpg"><table width="990" border="0" align="center" cellpadding="0" cellspacing="0" class="font14hui">
                                    <tr>
                                        <td width="110" align="center" class="bkl"><a href='http://<--index_a_href-->'>首 页</a></td>
                                        <td width="110" align="center" class="bkl"><a href="../yyjs.html">邮箱介绍</a></td>
                                        <td width="110" align="center" class="bkl"><a href="../yyys.html">邮箱优势</a></td>
                                        <td width="110" align="center" class="bkl"><a href="../ysjg.html">邮箱价格</a></td>
                                        <td width="110" align="center" class="bkl"><a href="../gmlc.html">购买流程</a></td>
                                        <td width="110" align="center" class="bkl"><a href="../khfw.html">客户服务</a></td>
                                        <td width="110" align="center" class="bkl"><a href="../mfsy.html">免费试用</a></td>
                                        <td width="110" align="center" class="bkl"><a href="../rjxz.html">软件下载</a></td>
                                        <td width="110" align="center"><a href="../lxwm.html">联系我们</a></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="1011" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:5px">
                        <tr>
                            <td height="62" align="center"><img src="../images_listcont/flasht1.jpg" width="1012" height="250" /></td>
                        </tr>
                    </table>
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"  class="bkend">
                        <tr>
                            <td height="50" bgcolor="#FFFFFF"><table width="1011" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td height="41" align="center"><img src="../images_listcont/zplogony.jpg"></td>
                                        <td align="center"><img src="../images_listcont/zplogony1.jpg"  ></td>
                                        <td align="center"><img src="../images_listcont/zplogony2.jpg" ></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="1011" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:15px">
                        <tr>
                            <td width="744" height="406" valign="top"><table width="98%" border="0" cellpadding="0" cellspacing="0" class="bktu">
                                    <tr>
                                        <td width="54" height="32" valign="middle" background="../images_listcont/yxjjbg.jpg">&nbsp;</td>
                                        <td width="678" valign="middle" background="../images_listcont/yxjjbg.jpg" class="inlmzt"><a href="#"><b><font color="#990000">您当前位置：</font></b></a></font></td>
                                    </tr>
                                    <tr>
                                        <td height="648" colspan="2" valign="top"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:8px auto">
                                                <tr>
                                                    <td width="4%" align="center"><img src="../images_listcont/dot.jpg" width="4" height="8" /></td>
                                                    <td width="96%" class="font14hui"><font color="#FF3300"><a href="http://<--list_article_href_1-->.html"><font color="#834314"><--list_article_title_1--></font></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="28" class="fonthui1 bkend">&nbsp;</td>
                                                    <td class="fonthui1 bkend"><--list_article_desc_1--></td>
                                                </tr>
                                            </table>
                                            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:8px auto">
                                                <tr>
                                                    <td width="4%" align="center"><img src="../images_listcont/dot.jpg" width="4" height="8" /></td>
                                                    <td width="96%" class="font14hui"><a href="http://<--list_article_href_2-->.html"><font color="#834314"><--list_article_title_2--></font></a> </td>
                                                </tr>
                                                <tr>
                                                    <td height="28" class="fonthui1 bkend">&nbsp;</td>
                                                    <td class="fonthui1 bkend"><--list_article_desc_2--></td>
                                                </tr>
                                            </table>
                                            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:8px auto">
                                                <tr>
                                                    <td width="4%" align="center"><img src="../images_listcont/dot.jpg" width="4" height="8" /></td>
                                                    <td width="96%" class="font14hui"><font color="#FF3300"><a href="http://<--list_article_href_3-->.html"><font color="#834314"><--list_article_title_3--></font></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="28" class="fonthui1 bkend">&nbsp;</td>
                                                    <td class="fonthui1 bkend"><--list_article_desc_3--></td>
                                                </tr>
                                            </table>
                                            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:8px auto">
                                                <tr>
                                                    <td width="4%" align="center"><img src="../images_listcont/dot.jpg" width="4" height="8" /></td>
                                                    <td width="96%" class="font14hui"><a href="http://<--list_article_href_4-->.html"><font color="#834314"><--list_article_title_4--></font></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="28" class="fonthui1 bkend">&nbsp;</td>
                                                    <td class="fonthui1 bkend"><--list_article_desc_4--></td>
                                                </tr>
                                            </table>
                                            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:8px auto">
                                                <tr>
                                                    <td width="4%" align="center"><img src="../images_listcont/dot.jpg" width="4" height="8" /></td>
                                                    <td width="96%" class="font14hui"><font color="#FF3300"><a href="http://<--list_article_href_5-->.html"><font color="#834314"><--list_article_title_5--></font></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="28" class="fonthui1 bkend">&nbsp;</td>
                                                    <td class="fonthui1 bkend"><--list_article_desc_5--></td>
                                                </tr>
                                            </table>
                                            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:8px auto">
                                                <tr>
                                                    <td width="4%" align="center"><img src="../images_listcont/dot.jpg" width="4" height="8" /></td>
                                                    <td width="96%" class="font14hui"><a href="http://<--list_article_href_6-->.html"><font color="#834314"><--list_article_title_6--></font></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="28" class="fonthui1 bkend">&nbsp;</td>
                                                    <td class="fonthui1 bkend"><--list_article_desc_6--></td>
                                                </tr>
                                            </table>
                                            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:8px auto">
                                                <tr>
                                                    <td width="4%" align="center"><img src="../images_listcont/dot.jpg" width="4" height="8" /></td>
                                                    <td width="96%" class="font14hui"><font color="#FF3300"><a href="http://<--list_article_href_7-->.html"><font color="#834314"><--list_article_title_7--></font></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="28" class="fonthui1 bkend">&nbsp;</td>
                                                    <td class="fonthui1 bkend"><--list_article_desc_7--></td>
                                                </tr>
                                            </table>
                                            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:8px auto">
                                                <tr>
                                                    <td width="4%" align="center"><img src="../images_listcont/dot.jpg" width="4" height="8" /></td>
                                                    <td width="96%" class="font14hui"><a href="http://<--list_article_href_8-->.html"><font color="#834314"><--list_article_title_8--></font></a></td>
                                                </tr>
                                                <tr>
                                                    <td height="28" class="fonthui1 bkend">&nbsp;</td>
                                                    <td class="fonthui1 bkend"><--list_article_desc_8--></td>
                                                </tr>
                                            </table>
                                            <script>
                                                function list_jump() {
                                                    var cc = document.getElementById("where").value;
                                                    var ab = 'http://<--list_url-->' + cc + '.html'

                                                    window.location.href = ab;
                                                }
                                            </script>
                                            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="fonthui">
                                                <tr>
                                                    <td height="36" align="center"><a href=http://<--shang_yi_ye-->>上一页</a>&nbsp; &nbsp;<a href=http://<--xia_yi_ye-->>下一页</a>
                                                        转入<input type='text' id='where'>页
                                                            <input type='submit' onclick='list_jump();'>
                                                                </td>
                                                                </tr>
                                                                </table></td>
                                                                </tr>
                                                                </table></td>
                                                                <td width="267" valign="top"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu">
                                                                        <tr>
                                                                            <td width="14%" height="33" align="right" background="../images_listcont/wyqyyxs.jpg" ><img src="../images_listcont/dot00.jpg" width="8" height="12" /></td>
                                                                            <td width="86%" background="../images_listcont/wyqyyxs.jpg" class="inlmzt" >&nbsp;企业邮箱常见问题</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="134" colspan="2"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0" class="fonthui1" style="margin:5px auto">
                                                                                    <tr>
                                                                                        <td width="12%" height="26" align="center"><img src="images_listcont/dot.jpg" width="4" height="8" /></td>
                                                                                        <td width="88%"><a href="<--index_article_href_1-->"><--index_article_1--></a></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="26" align="center"><img src="images_listcont/dot.jpg" width="4" height="8" /></td>
                                                                                        <td><a href="<--index_article_href_2-->"><--index_article_2--></a></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="26" align="center"><img src="images_listcont/dot.jpg" width="4" height="8" /></td>
                                                                                        <td><a href="<--index_article_href_3-->"><--index_article_3--></a></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="26" align="center"><img src="images_listcont/dot.jpg" width="4" height="8" /></td>
                                                                                        <td><a href="<--index_article_href_4-->"><--index_article_4--></a></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="26" align="center"><img src="images_listcont/dot.jpg" width="4" height="8" /></td>
                                                                                        <td><a href="<--index_article_href_5-->"><--index_article_5--></a></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="26" align="center"><img src="images_listcont/dot.jpg" width="4" height="8" /></td>
                                                                                        <td><a href="<--index_article_href_6-->"><--index_article_6--></a></td>
                                                                                    </tr>
                                                                                </table></td>
                                                                        </tr>
                                                                    </table>
                                                                    <table width="97%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" background="../images_listcont/ssbg.jpg" style="margin-top:3px">
                                                                        <tr>
                                                                            <td height="38" align="center"><img src="../images_listcont/sszt.jpg" width="226" height="28" /></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="42"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                    <tr>
                                                                                        <td width="62%" align="center"><input name="textfield" type="text" class="ssyhs" id="textfield" value="输入企业用户人数" size="20" /></td>
                                                                                        <td width="38%"><img src="../images_listcont/cxsy.jpg" width="84" height="26" /></td>
                                                                                    </tr>
                                                                                </table></td>
                                                                        </tr>
                                                                    </table>
                                                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" style="margin-top:5PX">
                                                                        <tr>
                                                                            <td width="14%" height="33" align="right" background="../images_listcont/yxjjbg.jpg" ><img src="../images_listcont/xwdot.jpg" width="9" height="12" /></td>
                                                                            <td width="86%" class="inlmzt" background="../images_listcont/yxjjbg.jpg"  >&nbsp;企业邮箱常见问题</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="134" colspan="2"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0" class="fonthui1" style="margin:3px auto">
                                                                                    <tr>
                                                                                        <td width="12%" height="25" align="center"><img src="images_listcont/dot.jpg" width="4" height="8" /></td>
                                                                                        <td width="88%"><a href="<--index_article_href_7-->"><--index_article_7--></a></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="25" align="center"><img src="images_listcont/dot.jpg" width="4" height="8" /></td>
                                                                                        <td><a href="<--index_article_href_8-->"><--index_article_8--></a></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="25" align="center"><img src="images_listcont/dot.jpg" width="4" height="8" /></td>
                                                                                        <td><a href="<--index_article_href_9-->"><--index_article_9--></a></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="25" align="center"><img src="images_listcont/dot.jpg" width="4" height="8" /></td>
                                                                                        <td><a href="<--index_article_href_10-->"><--index_article_10--></a></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="25" align="center"><img src="images_listcont/dot.jpg" width="4" height="8" /></td>
                                                                                        <td><a href="<--index_article_href_11-->"><--index_article_11--></a></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="25" align="center"><img src="images_listcont/dot.jpg" width="4" height="8" /></td>
                                                                                        <td><a href="<--index_article_href_12-->"><--index_article_12--></a></td>
                                                                                    </tr>
                                                                                </table></td>
                                                                        </tr>
                                                                    </table>
                                                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu"  style="margin-top:3PX">
                                                                        <tr>
                                                                            <td width="100%" valign="middle"><img src="../images_listcont/24hour.jpg" width="256" height="49" /></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="67"><img src="../images_listcont/24hour1.jpg" width="256" height="68" /></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><img src="../images_listcont/24hour2.jpg" width="256" height="74" /></td>
                                                                        </tr>
                                                                    </table></td>
                                                                </tr>
                                                                </table>
                                                                <table width="1011" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" style="margin-top:8px">
                                                                    <tr>
                                                                        <td width="100" height="41" align="center" class="inlmzt">友情链接</td>
                                                                        <td width="909"><div class="yqlj"><ul>
                                                                                    <li><a href='http://<--link_city_en_1-->'><--link_city_cn_1-->企业邮箱</a></li>
                                                                                    <li><a href='http://<--link_city_en_2-->'><--link_city_cn_2-->企业邮箱</a></li>
                                                                                    <li><a href='http://<--link_city_en_3-->'><--link_city_cn_3-->企业邮箱</a></li>
                                                                                    <li><a href='http://<--link_city_en_4-->'><--link_city_cn_4-->企业邮箱</a></li>
                                                                                    <li><a href='http://<--link_city_en_5-->'><--link_city_cn_5-->企业邮箱</a></li>
                                                                                    <li><a href='http://<--link_city_en_6-->'><--link_city_cn_6-->企业邮箱</a></li>
                                                                                    <li><a href='http://<--link_city_en_7-->'><--link_city_cn_7-->企业邮箱</a></li>
                                                                                    <li><a href='http://<--link_city_en_8-->'><--link_city_cn_8-->企业邮箱</a></li>

                                                                                    <li><a href='http://<--link_city_en_9-->'><--link_city_cn_9-->企业邮箱</a></li>
                                                                                    <li><a href='http://<--link_city_en_10-->'><--link_city_cn_10-->企业邮箱</a></li>
                                                                                    <li><a href='http://<--link_city_en_11-->'><--link_city_cn_11-->企业邮箱</a></li>
                                                                                    <li><a href='http://<--link_city_en_12-->'><--link_city_cn_12-->企业邮箱</a></li>
                                                                                    <li><a href='http://<--link_city_en_13-->'><--link_city_cn_13-->企业邮箱</a></li>
                                                                                    <li><a href='http://<--link_city_en_14-->'><--link_city_cn_14-->企业邮箱</a></li>
                                                                                    <li><a href='http://<--link_city_en_15-->'><--link_city_cn_15-->企业邮箱</a></li>
                                                                                    <li><a href='http://<--link_city_en_16-->'><--link_city_cn_16-->企业邮箱</a></li>
                                                                                </ul>
                                                                            </div></td>
                                                                    </tr>
                                                                </table>

                                                                <input type='hidden' name='footer'>
                                                                    <--footer-->
                                                                    <input type='hidden' name='footer'>
                                                                        <input type='hidden' name='chat'>
                                                                            <--chat-->
                                                                            <input type='hidden' name='chat'>
                                                                                </body>
                                                                                </html>
