<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>&lt;--my_title_1--&gt;网易企业邮箱报价</title>
<meta http-equiv="keywords" content="<--my_keywords-->">
<meta http-equiv="description" content="<--description-->">
<link href="other/font.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="top">
  <div class="wz"><a href="http://email.163.com/qiye/">企业邮箱用户登录</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp; <a href="mfsy.html"><font color="#cc0000"><b>立即免费试用</b></font></a></div><img src="images/logo.png" width="575" height="54" style="margin-top:10px" />
</div>
<div id="meun"><ul><li class="meunx"><a href="/">首页</a></li><li class="meunx"> <a href="yyjs.html">邮箱介绍</a> </li><li class="meunx"><a href="yyys.html">邮箱优势</a></li><li class="meunx"> <a href="ysjg.html">邮箱价格</a> </li><li class="meunx"> <a href="gmlc.html">购买流程</a> </li><li class="meunx"> <a href="khfw.html">客户服务</a> </li><li class="meunx"> <a href="rjxz.html">软件下载</a>  </li><li class="meunx"> <a href="mfsy.html">免费试用</a>  </li><li><a href="lxwm.html">联系我们</a></li>
</ul></div>
<div id="flash"> <script language='JavaScript' type="text/javascript">
linkarr = new Array();
picarr = new Array();
textarr = new Array();
var swf_width=950;
var swf_height=288;
//文字颜色|文字位置|文字背景颜色|文字背景透明度|按键文字颜色|按键默认颜色|按键当前颜色|自动播放时间|图片过渡效果|是否显示按钮|打开方式
var configtg='0xffffff|2|0x8CA2AD|60|0xffffff|0xff9900|0x000033|4|2|1|_blank';
var files = "";
var links = "";
///这里设置调用标记
linkarr[1] = "http://www.4006360163.com/news/20140730/167.html";
picarr[1]  = "images/gzy2.jpg";
linkarr[2] = "http://www.4006360163.com/news/20140710/162.html";
picarr[2]  = "images/index3.jpg";
linkarr[3] = "http://www.4006360163.com/news/20140730/169.html";
picarr[3]  = "images/qizha.jpg";

for(i=1;i<picarr.length;i++){
if(files=="") files = picarr[i];
else files += "|"+picarr[i];
}
for(i=1;i<linkarr.length;i++){
if(links=="") links = linkarr[i];
else links += "|"+linkarr[i];
}
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ swf_width +'" height="'+ swf_height +'">');
document.write('<param name="movie" value="images/bcastr3.swf"><param name="quality" value="high">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_config='+configtg+'">');
document.write('<embed src="images/bcastr3.swf" wmode="opaque" FlashVars="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_config='+configtg+'&menu="false" quality="high" width="'+ swf_width +'" height="'+ swf_height +'" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); document.write('</object>');
      </script></div>
<div class="tlbody">
<div class="nrleft">
<div class="cjwtdnr">
    <h1>常见问题</h1>
      <div class="cjwtnr">
<ul><li><a href="<--index_article_href_1-->"><--index_article_1--></a></li>
<li><a href="<--index_article_href_2-->"><--index_article_2--></a></li>
<li><a href="<--index_article_href_3-->"><--index_article_3--></a></li>
<li><a href="<--index_article_href_4-->"><--index_article_4--></a></li>
<li><a href="<--index_article_href_5-->"><--index_article_5--></a></li>
<li><a href="<--index_article_href_6-->"><--index_article_6--></a></li>
</ul>
    </div>
    </div>
    <div class="cjwtdnr">
    <h1>联系我们</h1>
      <div class="cjwtnr"><img src="images/lxfsn.jpg" width="209" height="109" /><br />
      <a href="mfsy.html"><img src="images/tuan.jpg" width="207" height="46" style="margin:5px 0px 3px 16px"/></a> </div>
    </div>
 <div class="cjwtdnr">
    <h1>企业邮箱优势</h1>
      <div class="cjwtnr">
<ul>
<li><a href="<--index_article_href_7-->"><--index_article_7--></a></li>
<li><a href="<--index_article_href_8-->"><--index_article_8--></a></li>
<li><a href="<--index_article_href_9-->"><--index_article_9--></a></li>
<li><a href="<--index_article_href_10-->"><--index_article_10--></a></li>
<li><a href="<--index_article_href_11-->"><--index_article_11--></a></li>
<li><a href="<--index_article_href_12-->"><--index_article_12--></a></li></ul>
    </div>
    </div>   
</div>
<div class="listnr">
<h2>网易企业邮箱优势</h2>
<h1><font color="#990000"><b>商务版配置及其报价</b></font></h1>
<table width="96%" align="center" cellpadding="0" cellspacing="0" class="fonthui1 tr">
  <tr>
            <td width="14%" height="34" align="center" bgcolor="#F2FAFD">产品规格</td>
        <td width="20%" align="center"  bgcolor="#F2FAFD">邮箱容量（每用户）</td>
            <td width="11%" align="center" bgcolor="#F2FAFD">普通附件</td>
            <td width="11%" align="center" bgcolor="#F2FAFD">超大附件</td>
            <td width="18%" align="center" bgcolor="#F2FAFD">个人网盘（每用户）</td>
            <td width="12%" align="center" bgcolor="#F2FAFD">企业随身邮</td>
            <td width="13%" align="center" bgcolor="#F2FAFD">价格（每年）</td>
          </tr>
          <tr>
            <td height="30" align="center">5用户版</td>
            <td align="center">5G（免费扩容）</td>
            <td align="center">100M</td>
            <td align="center">2G</td>
            <td align="center">1G</td>
            <td align="center">1个</td>
            <td align="center">1000元</td>
          </tr>
          <tr>
            <td height="30" align="center">20用户版</td>
            <td align="center">5G（免费扩容）</td>
            <td align="center">100M</td>
            <td align="center">2G</td>
            <td align="center">1G</td>
            <td align="center">1个</td>
            <td align="center">3700元</td>
          </tr>
          <tr>
            <td height="30" align="center">50用户版</td>
            <td align="center">5G（免费扩容）</td>
            <td align="center">100M</td>
            <td align="center">2G</td>
            <td align="center">1G</td>
            <td align="center">1个</td>
            <td align="center">7750元</td>
          </tr>
          <tr>
            <td height="30" align="center">100用户版</td>
            <td align="center">5G（免费扩容）</td>
            <td align="center">100M</td>
            <td align="center">2G</td>
            <td align="center">1G</td>
            <td align="center">1个</td>
            <td align="center">15000元</td>
          </tr>
          <tr>
            <td height="30" align="center">200用户版</td>
            <td align="center">5G（免费扩容）</td>
            <td align="center">100M</td>
            <td align="center">2G</td>
            <td align="center">1G</td>
            <td align="center">1个</td>
            <td align="center">29600元</td>
          </tr>
          <tr>
            <td height="30" align="center">500用户版</td>
            <td align="center">5G（免费扩容）</td>
            <td align="center">100M</td>
            <td align="center">2G</td>
            <td align="center">1G</td>
            <td align="center">1个</td>
            <td align="center">72500元</td>
          </tr>
          <tr>
            <td height="33" colspan="7" align="center"  bgcolor="#F2FAFD">备注：每50个用户赠送一个企业随身邮和一个邮件传真号，每个企业赠送5G企业网盘。</td>
          </tr>
        </table>
    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" style="margin:10px auto" bgcolor="#F2FAFD">
          
         	            
  <form id="order_shangwu" name="order_shangwu" method="post" action="http://4006360163.com/buy/order.php">
            <tr>
              <td width="39%" height="37" align="center" valign="middle"><img src="images/swb.png" width="245" height="24" /></td>
              <td width="44%" valign="middle" class="font14hui">需要开通
              <input name="Quantity" type="text" class="font14hui" id="Text1" value="5" />
                个数</td>
              <td width="17%"> <input type="image" name="imageField" src="images/xjgm.jpg" class="button_buy" /></td>
            </tr></form>
          </table>
    <h1><font color="#990000"><b>旗舰版配置及其报价</b></font></h1>
          <table width="96%" align="center" cellpadding="0" cellspacing="0" class="fonthui1 tr">
            <tr>
              <td width="10%" height="34" align="center" bgcolor="#F2FAFD">产品规格</td>
              <td width="24%" align="center" bgcolor="#F2FAFD">邮箱容量（每用户）</td>
              <td width="11%" align="center" bgcolor="#F2FAFD">普通附件</td>
              <td width="11%" align="center" bgcolor="#F2FAFD">超大附件</td>
              <td width="18%" align="center" bgcolor="#F2FAFD">个人网盘（每用户）</td>
              <td width="13%" align="center" bgcolor="#F2FAFD">企业随身邮</td>
              <td width="13%" align="center" bgcolor="#F2FAFD">价格（每年）</td>
            </tr>
            <tr>
              <td height="30" align="center">5用户版</td>
              <td align="center">5G（免费扩容+即时通）</td>
              <td align="center">100M</td>
              <td align="center">2G</td>
              <td align="center">1G</td>
              <td align="center">1个</td>
              <td align="center">1500元</td>
            </tr>
            <tr>
              <td height="30" align="center">20用户版</td>
              <td align="center">5G（免费扩容+即时通）</td>
              <td align="center">100M</td>
              <td align="center">2G</td>
              <td align="center">1G</td>
              <td align="center">1个</td>
              <td align="center">5550元</td>
            </tr>
            <tr>
              <td height="30" align="center">50用户版</td>
              <td align="center">5G（免费扩容+即时通）</td>
              <td align="center">100M</td>
              <td align="center">2G</td>
              <td align="center">1G</td>
              <td align="center">1个</td>
              <td align="center">11625元</td>
            </tr>
            <tr>
              <td height="30" align="center">100用户版</td>
              <td align="center">5G（免费扩容+即时通）</td>
              <td align="center">100M</td>
              <td align="center">2G</td>
              <td align="center">1G</td>
              <td align="center">1个</td>
              <td align="center">22500元</td>
            </tr>
            <tr>
              <td height="30" align="center">200用户版</td>
              <td align="center">5G（免费扩容+即时通）</td>
              <td align="center">100M</td>
              <td align="center">2G</td>
              <td align="center">1G</td>
              <td align="center">1个</td>
              <td align="center">44400元</td>
            </tr>
            <tr>
              <td height="30" align="center">500用户版</td>
              <td align="center">5G（免费扩容+即时通）</td>
              <td align="center">100M</td>
              <td align="center">2G</td>
              <td align="center">1G</td>
              <td align="center">1个</td>
              <td align="center">108750元</td>
            </tr>
            <tr>
              <td height="31" colspan="7" align="center" bgcolor="#F2FAFD">备注：每50个用户赠送一个企业随身邮和一个邮件传真号，每个企业赠送5G企业网盘。</td>
            </tr>
          </table>
          <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="bktu" style="margin:10px auto" bgcolor="#F2FAFD" >
            
            
            <form id="order_shangwu" name="order_shangwu" method="post" action="http://4006360163.com/buy/order.php">
            <tr>
              <td width="39%" height="37" align="center" valign="middle"><img src="images/qjb.png" width="245" height="24" /></td>
              <td width="41%" valign="middle" class="font14hui">需要开通
              <input name="Quantity" type="text" class="font14hui" id="Text1" value="5" />
                个数</td>
              <td width="20%"> <input type="image" name="imageField" src="images/xjgm.jpg" class="button_buy" /></td>
            </tr></form>
        </table>
</div>
    
</div>
<div class="tlbody">
  <div class="clear"></div>  
</div>
<div class="yqlj">
<h1>成功案例 </h1>
<ul>
    <li><img src="images/alt0.jpg" width="140" height="44" /></li>
     <li><img src="images/alt.jpg" width="140" height="44" /></li>
      <li><img src="images/alt1.jpg" width="140" height="44" /></li>
       <li><img src="images/alt2.jpg" width="140" height="44" /></li>
      <li><img src="images/alt3.jpg" width="140" height="44" /></li>
      <li><img src="images/alt4.jpg" width="140" height="44" /></li>
    </ul>
    <div class="clear"> </div>
    </div>
    <div class="yqlj">
<h1>友情连接 </h1>
<ul>
   <li><a href='http://<--link_city_en_1-->'><--link_city_cn_1-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_2-->'><--link_city_cn_2-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_3-->'><--link_city_cn_3-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_4-->'><--link_city_cn_4-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_5-->'><--link_city_cn_5-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_6-->'><--link_city_cn_6-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_7-->'><--link_city_cn_7-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_8-->'><--link_city_cn_8-->企业邮箱</a></li>
	
    <li><a href='http://<--link_city_en_9-->'><--link_city_cn_9-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_10-->'><--link_city_cn_10-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_11-->'><--link_city_cn_11-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_12-->'><--link_city_cn_12-->企业邮箱</a></li>
</ul>
    <div class="clear"> </div>
    </div>
<div id="footer"> <span class="font14hui">联想企业网盘        网易企业邮箱        163企业邮箱         crm客户关系管理        企业邮箱申请        企业邮箱网
</span><br />
  <a href="lxwm.html">关于我们</a> - 服务品质保障 - <a href="khfw.html">客户服务</a> - <a href="lxwm.html">联系我们</a> - <a href="gmlc.html">在线支付</a> - 站长统计 <br />
济南强比科技有限公司 版权所有 
<script type='text/javascript' src='http://cs.ecqun.com/?id=228266&scheme=2' charset='utf-8'></script>                                                                                          
<script type='text/javascript'>kfguin='8000163163';eid='218808P8z8p8P8Q8x8q8z';ws='163-m.com'; companyname='网易企业邮箱'; welcomeword='您好，请问有什么可以效劳吗？'; type='1';wpadomain='b';</script> 
<script type='text/javascript' src='http://im.bizapp.qq.com:8000/kf_100630.js'></script>
</div>
</body>
</html>
