<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><--my_title_1-->网易企业邮箱介绍</title>
<meta http-equiv="keywords" content="<--my_keywords-->">
<meta http-equiv="description" content="<--description-->">
<link href="other/font.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="top">
  <div class="wz"><a href="http://email.163.com/qiye/">企业邮箱用户登录</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp; <a href="mfsy.html"><font color="#cc0000"><b>立即免费试用</b></font></a></div><img src="images/logo.png" width="575" height="54" style="margin-top:10px" />
</div>
<div id="meun"><ul><li class="meunx"><a href="/">首页</a></li><li class="meunx"> <a href="yyjs.html">邮箱介绍</a> </li><li class="meunx"><a href="yyys.html">邮箱优势</a></li><li class="meunx"> <a href="ysjg.html">邮箱价格</a> </li><li class="meunx"> <a href="gmlc.html">购买流程</a> </li><li class="meunx"> <a href="khfw.html">客户服务</a> </li><li class="meunx"> <a href="rjxz.html">软件下载</a>  </li><li class="meunx"> <a href="mfsy.html">免费试用</a>  </li><li><a href="lxwm.html">联系我们</a></li>
</ul></div>
<div id="flash"> <script language='JavaScript' type="text/javascript">
linkarr = new Array();
picarr = new Array();
textarr = new Array();
var swf_width=950;
var swf_height=288;
//文字颜色|文字位置|文字背景颜色|文字背景透明度|按键文字颜色|按键默认颜色|按键当前颜色|自动播放时间|图片过渡效果|是否显示按钮|打开方式
var configtg='0xffffff|2|0x8CA2AD|60|0xffffff|0xff9900|0x000033|4|2|1|_blank';
var files = "";
var links = "";
///这里设置调用标记
linkarr[1] = "http://www.4006360163.com/news/20140730/167.html";
picarr[1]  = "images/gzy2.jpg";
linkarr[2] = "http://www.4006360163.com/news/20140710/162.html";
picarr[2]  = "images/index3.jpg";
linkarr[3] = "http://www.4006360163.com/news/20140730/169.html";
picarr[3]  = "images/qizha.jpg";

for(i=1;i<picarr.length;i++){
if(files=="") files = picarr[i];
else files += "|"+picarr[i];
}
for(i=1;i<linkarr.length;i++){
if(links=="") links = linkarr[i];
else links += "|"+linkarr[i];
}
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ swf_width +'" height="'+ swf_height +'">');
document.write('<param name="movie" value="images/bcastr3.swf"><param name="quality" value="high">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_config='+configtg+'">');
document.write('<embed src="images/bcastr3.swf" wmode="opaque" FlashVars="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_config='+configtg+'&menu="false" quality="high" width="'+ swf_width +'" height="'+ swf_height +'" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); document.write('</object>');
      </script></div>
<div class="tlbody">
<div class="nrleft">
<div class="cjwtdnr">
    <h1>常见问题</h1>
      <div class="cjwtnr">
<ul><li><a href="<--index_article_href_1-->"><--index_article_1--></a></li>
<li><a href="<--index_article_href_2-->"><--index_article_2--></a></li>
<li><a href="<--index_article_href_3-->"><--index_article_3--></a></li>
<li><a href="<--index_article_href_4-->"><--index_article_4--></a></li>
<li><a href="<--index_article_href_5-->"><--index_article_5--></a></li>
<li><a href="<--index_article_href_6-->"><--index_article_6--></a></li>
</ul>
    </div>
    </div>
    <div class="cjwtdnr">
    <h1>联系我们</h1>
      <div class="cjwtnr"><img src="images/lxfsn.jpg" width="209" height="109" /><br />
      <a href="mfsy.html"><img src="images/tuan.jpg" width="207" height="46" style="margin:5px 0px 3px 16px"/></a> </div>
    </div>
 <div class="cjwtdnr">
    <h1>企业邮箱优势</h1>
      <div class="cjwtnr">
<ul>
<li><a href="<--index_article_href_7-->"><--index_article_7--></a></li>
<li><a href="<--index_article_href_8-->"><--index_article_8--></a></li>
<li><a href="<--index_article_href_9-->"><--index_article_9--></a></li>
<li><a href="<--index_article_href_10-->"><--index_article_10--></a></li>
<li><a href="<--index_article_href_11-->"><--index_article_11--></a></li>
<li><a href="<--index_article_href_12-->"><--index_article_12--></a></li></ul>
    </div>
    </div>   
</div>
<div class="listnr">
<h1><font color="#990000"><b>网易 (NASDAQ:NTES)是中国领先的互联网技术公司</b></font></h1>
<div class="listnrjj"><p><img align="left" src="images/163logo.jpg" width="149" height="103"  style="margin:5px" class="bktu"/>在开发互联网应用、服务及其它技术方面，始终保持国内业界的领先地位。网易对中国互联网的发展具有强烈的使命感，网易利用最先进的互联网技术，加强人与人之间信息的交流和共享，实现&ldquo;网聚人的力量&rdquo;。<strong>邮件业务</strong>是网易公司的发展重点及重要基础服务。1997年11月，网易自主研发了国内首个全中文的免费电子邮件系统。时至今天，网易旗下七大电子邮箱（163.com、126.com、yeah.net、188.com、vip.163.com、专业企业邮箱、免费企业邮箱）用户总数已突破3亿，免费邮箱和收费邮箱市场占有率均稳居全国第一。 </p></div>
<h1><font color="#990000"><b>网易企业邮箱采用业内顶尖技术</b></font></h1>
<div class="listnrjj">
  <p>网易企业邮箱是由具有丰富经验的专业团队开发运营，致力于为企业用户提供中国最专业的电子邮箱服务。网易企业邮箱，最专业的企业邮箱。 </p>
  <p>1997年11月，网易自主研发了国内首个全中文的电子邮件系统。</p>
  <p>网易旗下六大电子邮箱（163.com、126.com、yeah.net、188.com、vip.163.com、163企业邮箱）用户总数已突破3亿，成为全球最大的邮件业务运营商。</p>
  <p>自主创新了智能反垃圾技术，是目前国内反垃圾技术最优秀的企业。</p>
  <p>网易在海外架设邮件服务器并提供国际化企业邮箱服务的服务商</p>
  <p>网易分别在国内各电信运营商的主干网数据中心架设邮件服务器</p>
  <p>2006年度反垃圾邮件产品推荐品牌奖</p>
  <p>2006中国反垃圾协会反垃圾邮件综合处理平台技术战略合作伙伴</p>
  <p>2004年度中国最佳客服中心奖</p>
  <p>2005年度中国客户关怀标杆奖</p>
  <p>2006年度&quot;绿色邮箱&quot;奖</p>
  <p>2006年度IT用户满意度第一企业</p>
  <p>2007年度电子邮件产业发展贡献奖</p>
  <p>2008年度网易客服中心荣获&quot;中国最佳客户服务奖&quot;</p>
  <p>2008年度网易客服中心荣获&quot;中国最佳售后服务&quot;</p>
  <p>2008至2009电子邮箱中国最佳互联网成长企业奖</p>
  <p>网易企业邮箱获&quot;金邮筒杯&quot;最佳技术创新奖</p>
  <p>中国AAA级信用等级企业</p>
  <p>中国互联网协会理事单位</p>
  <p>中国反垃圾邮件协会理事单位 </p>
</div>
</div>
</div>
<div class="tlbody">
  <div class="clear"></div>  
</div>
<div class="yqlj">
<h1>成功案例 </h1>
<ul>
    <li><img src="images/alt0.jpg" width="140" height="44" /></li>
     <li><img src="images/alt.jpg" width="140" height="44" /></li>
      <li><img src="images/alt1.jpg" width="140" height="44" /></li>
       <li><img src="images/alt2.jpg" width="140" height="44" /></li>
      <li><img src="images/alt3.jpg" width="140" height="44" /></li>
      <li><img src="images/alt4.jpg" width="140" height="44" /></li>
    </ul>
    <div class="clear"> </div>
    </div>
    <div class="yqlj">
<h1>友情连接 </h1>
<ul>
   <li><a href='http://<--link_city_en_1-->'><--link_city_cn_1-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_2-->'><--link_city_cn_2-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_3-->'><--link_city_cn_3-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_4-->'><--link_city_cn_4-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_5-->'><--link_city_cn_5-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_6-->'><--link_city_cn_6-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_7-->'><--link_city_cn_7-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_8-->'><--link_city_cn_8-->企业邮箱</a></li>
	
    <li><a href='http://<--link_city_en_9-->'><--link_city_cn_9-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_10-->'><--link_city_cn_10-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_11-->'><--link_city_cn_11-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_12-->'><--link_city_cn_12-->企业邮箱</a></li>
</ul>
    <div class="clear"> </div>
    </div>
<div id="footer"> <span class="font14hui">联想企业网盘        网易企业邮箱        163企业邮箱         crm客户关系管理        企业邮箱申请        企业邮箱网
</span><br />
  <a href="lxwm.html">关于我们</a> - 服务品质保障 - <a href="khfw.html">客户服务</a> - <a href="lxwm.html">联系我们</a> - <a href="gmlc.html">在线支付</a> - 站长统计 <br />
济南强比科技有限公司 版权所有 
<script type='text/javascript' src='http://cs.ecqun.com/?id=228266&scheme=2' charset='utf-8'></script>                                                                                          
<script type='text/javascript'>kfguin='8000163163';eid='218808P8z8p8P8Q8x8q8z';ws='163-m.com'; companyname='网易企业邮箱'; welcomeword='您好，请问有什么可以效劳吗？'; type='1';wpadomain='b';</script> 
<script type='text/javascript' src='http://im.bizapp.qq.com:8000/kf_100630.js'></script> </div>
</body>
</html>
