<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><--my_title_1-->网易企业邮箱优势</title>
<meta http-equiv="keywords" content="<--my_keywords-->">
<meta http-equiv="description" content="<--description-->">
<link href="other/font.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="top">
  <div class="wz"><a href="http://email.163.com/qiye/">企业邮箱用户登录</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp; <a href="mfsy.html"><font color="#cc0000"><b>立即免费试用</b></font></a></div><img src="images/logo.png" width="575" height="54" style="margin-top:10px" />
</div>
<div id="meun"><ul><li class="meunx"><a href="/">首页</a></li><li class="meunx"> <a href="yyjs.html">邮箱介绍</a> </li><li class="meunx"><a href="yyys.html">邮箱优势</a></li><li class="meunx"> <a href="ysjg.html">邮箱价格</a> </li><li class="meunx"> <a href="gmlc.html">购买流程</a> </li><li class="meunx"> <a href="khfw.html">客户服务</a> </li><li class="meunx"> <a href="rjxz.html">软件下载</a>  </li><li class="meunx"> <a href="mfsy.html">免费试用</a>  </li><li><a href="lxwm.html">联系我们</a></li>
</ul></div>
<div id="flash"> <script language='JavaScript' type="text/javascript">
linkarr = new Array();
picarr = new Array();
textarr = new Array();
var swf_width=950;
var swf_height=288;
//文字颜色|文字位置|文字背景颜色|文字背景透明度|按键文字颜色|按键默认颜色|按键当前颜色|自动播放时间|图片过渡效果|是否显示按钮|打开方式
var configtg='0xffffff|2|0x8CA2AD|60|0xffffff|0xff9900|0x000033|4|2|1|_blank';
var files = "";
var links = "";
///这里设置调用标记
linkarr[1] = "http://www.4006360163.com/news/20140730/167.html";
picarr[1]  = "images/gzy2.jpg";
linkarr[2] = "http://www.4006360163.com/news/20140710/162.html";
picarr[2]  = "images/index3.jpg";
linkarr[3] = "http://www.4006360163.com/news/20140730/169.html";
picarr[3]  = "images/qizha.jpg";

for(i=1;i<picarr.length;i++){
if(files=="") files = picarr[i];
else files += "|"+picarr[i];
}
for(i=1;i<linkarr.length;i++){
if(links=="") links = linkarr[i];
else links += "|"+linkarr[i];
}
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ swf_width +'" height="'+ swf_height +'">');
document.write('<param name="movie" value="images/bcastr3.swf"><param name="quality" value="high">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_config='+configtg+'">');
document.write('<embed src="images/bcastr3.swf" wmode="opaque" FlashVars="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_config='+configtg+'&menu="false" quality="high" width="'+ swf_width +'" height="'+ swf_height +'" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); document.write('</object>');
      </script></div>
<div class="tlbody">
<div class="nrleft">
<div class="cjwtdnr">
    <h1>常见问题</h1>
      <div class="cjwtnr">
<ul><li><a href="<--index_article_href_1-->"><--index_article_1--></a></li>
<li><a href="<--index_article_href_2-->"><--index_article_2--></a></li>
<li><a href="<--index_article_href_3-->"><--index_article_3--></a></li>
<li><a href="<--index_article_href_4-->"><--index_article_4--></a></li>
<li><a href="<--index_article_href_5-->"><--index_article_5--></a></li>
<li><a href="<--index_article_href_6-->"><--index_article_6--></a></li>
</ul>
    </div>
    </div>
    <div class="cjwtdnr">
    <h1>联系我们</h1>
      <div class="cjwtnr"><img src="images/lxfsn.jpg" width="209" height="109" /><br />
      <a href="mfsy.html"><img src="images/tuan.jpg" width="207" height="46" style="margin:5px 0px 3px 16px"/></a> </div>
    </div>
 <div class="cjwtdnr">
    <h1>企业邮箱优势</h1>
      <div class="cjwtnr">
<ul>
<li><a href="<--index_article_href_7-->"><--index_article_7--></a></li>
<li><a href="<--index_article_href_8-->"><--index_article_8--></a></li>
<li><a href="<--index_article_href_9-->"><--index_article_9--></a></li>
<li><a href="<--index_article_href_10-->"><--index_article_10--></a></li>
<li><a href="<--index_article_href_11-->"><--index_article_11--></a></li>
<li><a href="<--index_article_href_12-->"><--index_article_12--></a></li></ul>
    </div>
    </div>   
</div>
<div class="listnr">
<h1><font color="#990000"><b>网易企业邮箱优势</b></font></h1>
<div class="listnrjj" style="border-bottom:dashed 1px #CCC"><p>在开发互联网应用、服务及其它技术方面，始终保持国内业界的领先地位。网易对中国互联网的发展具有强烈的使命感，网易利用最先进的互联网技术，加强人与人之间信息的交流和共享，实现&ldquo;网聚人的力量&rdquo;。<strong>邮件业务</strong>是网易公司的发展重点及重要基础服务。1997年11月，网易自主研发了国内首个全中文的免费电子邮件系统。时至今天，网易旗下七大电子邮箱（163.com、126.com、yeah.net、188.com、vip.163.com、专业企业邮箱、免费企业邮箱）用户总数已突破3亿，免费邮箱和收费邮箱市场占有率均稳居全国第一。 </p></div>
<table width="675" border="0" align="center" cellpadding="0" cellspacing="0" class="font14hui">
            <tr>
              <td width="347" height="84"  class="bkl bkend"><table width="328" border="0" align="center" cellpadding="0" cellspacing="0" >
                <tr>
                  <td width="72" rowspan="2" align="center"><img src="images/xt.jpg" width="53" height="45" /></td>
                  <td width="256" height="29" align="left" class="inlmzt"><font color="#CC0000">基本配置</font></td>
                </tr>
                <tr>
                  <td align="left" class="fonthui">单邮箱5G容量（免费扩容\无限空间）支持100M普通附件、1G个人网盘。</td>
                </tr>
              </table></td>
              <td width="328"  class="bkl bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                <tr>
                  <td width="72" rowspan="2" align="center"><img src="images/xt1.jpg" width="46" height="53" /></td>
                  <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">超大附件</font></td>
                </tr>
                <tr>
                  <td align="left" class="fonthui">普通附件100M，超大附件2G，支持网络硬盘直发，不占用邮箱容量！</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="80"  class="bkl bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                <tr>
                  <td width="72" rowspan="2" align="center"><img src="images/xt2.jpg" width="47" height="55" /></td>
                  <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">反垃圾、防病毒</font></td>
                </tr>
                <tr>
                  <td align="left" class="fonthui">采用国际顶级卡巴斯基杀毒引擎，自动更新全球病毒库，病毒邮件过滤接近100%！</td>
                </tr>
              </table></td>
              <td  class="bkl bkend"><table width="303" border="0" align="center" cellpadding="0" cellspacing="0" >
                <tr>
                  <td width="72" rowspan="2" align="center"><img src="images/xt4.jpg" width="46" height="51" /></td>
                  <td width="231" height="29" align="left" class="inlmzt"><font color="#CC0000">企业网盘</font></td>
                </tr>
                <tr>
                  <td align="left" class="fonthui">1G个人网盘、可以免费扩容，企业网盘可以保存重要资料，方便安全。</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="86"  class="bkl bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                <tr>
                  <td width="72" rowspan="2" align="center"><img src="images/xt.jpg" width="53" height="45" /></td>
                  <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">短信易信验证</font></td>
                </tr>
                <tr>
                  <td align="left" class="fonthui">网易是国内唯一一家将邮箱安全级别提升至网银级别的企业邮箱，短信、易信等安全验证！</td>
                </tr>
              </table></td>
              <td  class="bkl bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                <tr>
                  <td width="72" rowspan="2" align="center"><img src="images/xtt2014.jpg" width="53" height="45" /></td>
                  <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">海外收发</font></td>
                </tr>
                <tr>
                  <td align="left" class="fonthui">全球230多个国家和地区均部署海外服务器，和亚马逊合作，业界首家，全球邮件发送！</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="86"  class="bkl bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                <tr>
                  <td width="72" rowspan="2" align="center"><img src="images/xt.jpg" width="53" height="45" /></td>
                  <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">邮件状态查询</font></td>
                </tr>
                <tr>
                  <td align="left" class="fonthui">可以自主查询邮件是否发送到对方服务器，便于及时回访客户！</td>
                </tr>
              </table></td>
              <td  class="bkl bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                <tr>
                  <td width="72" rowspan="2" align="center"><img src="images/xt.jpg" width="53" height="45" /></td>
                  <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">邮件状态查询</font></td>
                </tr>
                <tr>
                  <td align="left" class="fonthui">可以自主查询邮件是否发送到对方服务器，便于及时回访客户！</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="86"  class="bkl bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                <tr>
                  <td width="72" rowspan="2" align="center"><img src="images/xt3.jpg" width="46" height="49" /></td>
                  <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">邮件自主备份</font></td>
                </tr>
                <tr>
                  <td align="left" class="fonthui">指定主备份账号，即使邮件误删，也会从管理后台找到被删的邮件。</td>
                </tr>
              </table></td>
              <td  class="bkl bkend"><table width="315" border="0" align="center" cellpadding="0" cellspacing="0" >
                <tr>
                  <td width="72" rowspan="2" align="center"><img src="images/xtt20141.jpg" width="42" height="44" /></td>
                  <td width="243" height="29" align="left" class="inlmzt"><font color="#CC0000">全文翻译、搜索</font></td>
                </tr>
                <tr>
                  <td align="left" class="fonthui">网易企业邮箱可以对邮件进行翻译，让外文翻译变得简单准确，全文搜索找邮件更方便！</td>
                </tr>
              </table></td>
            </tr>
          </table>
</div>
</div>
<div class="tlbody">
  <div class="clear"></div>  
</div>
<div class="yqlj">
<h1>成功案例 </h1>
<ul>
    <li><img src="images/alt0.jpg" width="140" height="44" /></li>
     <li><img src="images/alt.jpg" width="140" height="44" /></li>
      <li><img src="images/alt1.jpg" width="140" height="44" /></li>
       <li><img src="images/alt2.jpg" width="140" height="44" /></li>
      <li><img src="images/alt3.jpg" width="140" height="44" /></li>
      <li><img src="images/alt4.jpg" width="140" height="44" /></li>
    </ul>
    <div class="clear"> </div>
    </div>
    <div class="yqlj">
<h1>友情连接 </h1>
<ul>
   <li><a href='http://<--link_city_en_1-->'><--link_city_cn_1-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_2-->'><--link_city_cn_2-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_3-->'><--link_city_cn_3-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_4-->'><--link_city_cn_4-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_5-->'><--link_city_cn_5-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_6-->'><--link_city_cn_6-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_7-->'><--link_city_cn_7-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_8-->'><--link_city_cn_8-->企业邮箱</a></li>
	
    <li><a href='http://<--link_city_en_9-->'><--link_city_cn_9-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_10-->'><--link_city_cn_10-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_11-->'><--link_city_cn_11-->企业邮箱</a></li>
    <li><a href='http://<--link_city_en_12-->'><--link_city_cn_12-->企业邮箱</a></li>
</ul>
    <div class="clear"> </div>
    </div>
<div id="footer"> <span class="font14hui">联想企业网盘        网易企业邮箱        163企业邮箱         crm客户关系管理        企业邮箱申请        企业邮箱网
</span><br />
  <a href="lxwm.html">关于我们</a> - 服务品质保障 - <a href="khfw.html">客户服务</a> - <a href="lxwm.html">联系我们</a> - <a href="gmlc.html">在线支付</a> - 站长统计 <br />
济南强比科技有限公司 版权所有 
<script type='text/javascript' src='http://cs.ecqun.com/?id=228266&scheme=2' charset='utf-8'></script>                                                                                          
<script type='text/javascript'>kfguin='8000163163';eid='218808P8z8p8P8Q8x8q8z';ws='163-m.com'; companyname='网易企业邮箱'; welcomeword='您好，请问有什么可以效劳吗？'; type='1';wpadomain='b';</script> 
<script type='text/javascript' src='http://im.bizapp.qq.com:8000/kf_100630.js'></script> </div>
</body>
</html>
